extends layout.pug
block css
	link(rel="stylesheet" href="./css/aboutus.css")
block content
	.side-block
		.side-block-items
			.side-block-item.page-block
				.side-block-item-main-header
					h2.side-block-item-main-header-title Наши объекты
				.side-block-item-header
					h3.side-block-item-header-title Royal Tulip Almaty
				.side-block-item-body
					img.side-block-item-body-img(src='./img/royaltulipside.jpg')
				.side-block-item-bottom
					a(href='http://www.royaltulipalmaty.com/ru').link
						span.side-block-item-bottom-span www.royaltulipalmaty.com
			.side-block-item.page-block
				.side-block-item-header
					h3.side-block-item-header-title Grand Ballroom
				.side-block-item-body
					img.side-block-item-body-img(src='./img/grandballroomside.jpg')
				.side-block-item-bottom
					a(href='http://grandballroom.kz').link
						span.side-block-item-bottom-span grandballroom.kz
			.side-block-item.page-block
				.side-block-item-header
					h3.side-block-item-header-title Саламат 1-5
				.side-block-item-body
					img.side-block-item-body-img(src='./img/salamatside.jpg')
				.side-block-item-bottom
					a(href='http://tc-salamat.kz').link
						span.side-block-item-bottom-span tc-salamat.kz
	.main-block
		.salamat-img-block
			.salamat-hover-block
				.hover-about-block
					h2.hover-about-header История компании
					p.hover-about-text Начиная работу в нескольких контейнерах по продаже строительных материалов, компания развила рынок до пяти крупных торговых центров.
					p.hover-about-text В 1997-1998 гг. году построили первый торговый центр строительных материалов  «Саламат-1». Общая квадратура тогда составляла 2500 кв.м.
					p.hover-about-text Товарищество с ограниченной ответственностью «Зер» создано 07 апреля  2000 года.
					p.hover-about-text Товарищество с ограниченной ответственностью «Жарат» создано 16 мая 2000 года.
		.aboutus-block.page-block.mt-block
			.aboutus-block-items
				.aboutus-block-item
					.aboutus-block-header
						h3.aboutus-block-header-title ТОО Жарат - виды деятельности
					.aboutus-block-body.clearfix
						.aboutus-block-body-left
							img(src='./img/salamat.jpg').aboutus-block-body-item-img
							span.under-img-title 	Компания основана в 2000 году
						.aboutus-block-body-right
							p.aboutus-block-body-text Основной деятельностью ТОО "Жарат" являются: услуги аренды торговых площадей и земельных участков; строительно-монтажные работы; инжиниринг и проектирование; насыщение рынка товарами народного потребления, в том числе высококачественными строительными материалами, сантехническими оборудованиями. А также в компании имеются свое строительное оборудование и строительная техника.
					.aboutus-block-bottom
				.aboutus-block-item
					.aboutus-block-header
						h3.aboutus-block-header-title Строительство
					.aboutus-block-body.clearfix
						.aboutus-block-body-left
							img(src='./img/constructing.jpg').aboutus-block-body-item-img
							span.under-img-title Строительная компания категории А
						.aboutus-block-body-right
							p.aboutus-block-body-text Масштабным строительством компания занимается с 2001 года. За это время было построено много объектов, которые является самыми красивыми объектами города Алматы и неотъемлемой его частью. В начале 2002 года началось строительство Торгового дома «Саламат-2», общей площадью 1381 кв.м.; торгового дома «Саламат-3,4», общей площадью 8000 кв.м. и 3100 кв.м., по адресу ул. Розыбакиева, уг.ул. Шевченко. В 2002 году по улице Байзакова, 194 компания построила бизнес центр площадью 1735 кв.м. В 2004 году по улице Радостовца, 73 компанией был построен и сдан в эксплуатацию 7-этажный жилой дом, общей площадью 3320 кв.м. Следом за ним также был построен 9-этажный жилой дом, общей площадью 7300 кв.м., срок постройки которого осуществился в ноябре 2006 года. В 2007 году сдали в эксплуатацию торговый дом «Саламат-5», общей площадью 7300 кв.м. и закончили реконструкцию (пристройка 3 и 4 этажей) торгового дома «Саламат-1», что на сегодняшний день общая площадь составляет 8000 кв.м
					.aboutus-block-bottom
				.aboutus-block-item
					.aboutus-block-header
						h3.aboutus-block-header-title Отель Royal Tulip Almaty 
					.aboutus-block-body.clearfix
						.aboutus-block-body-left
							img(src='./img/royaltulip.jpg').aboutus-block-body-item-img
							span.under-img-title Отель 5 звезд классы люкс 
						.aboutus-block-body-right
							p.aboutus-block-body-text Наша огромная гордость - это еще один объект, пятизвездный отель RoyalTulipAlmaty, который открыл свои двери в 2010 году. Бренд RoyalTulip принадлежит GoldenTulipHospitalityGroup, одному из крупнейших международных гостиничных операторов. RoyalTulipAlmaty - это первый отель международной сети в Центральной Азии. Элегантный и роскошный отель предлагает 166 просторных комнат, включая 9 люксов и Президентский люкс, а также ресторан международной кухни, летнюю террасу, лаунж бары, три конференц-зала, бальный зал с фойе, клуб здоровья, салон красоты, VIP-комнаты для бильярда, ночной клуб. Отель удобно расположен на проспекте Достык, в непосредственной близости от великолепных гор Тянь-Шаня, высокогорного катка Медео и горнолыжного курорта Шымбулак, а также в 10 минутах езды от финансового центра. Международный аэропорт Алматы находится в 20 км от отеля.
					.aboutus-block-bottom
				.aboutus-block-item
					.aboutus-block-header
						h3.aboutus-block-header-title Банкетный зал Grand Ballroom 
					.aboutus-block-body.clearfix
						.aboutus-block-body-left
							img(src='./img/grandballroom.jpg').aboutus-block-body-item-img
							span.under-img-title Самый больший зал торжеств в г. Алматы
						.aboutus-block-body-right
							p.aboutus-block-body-text 2013 год ознаменовался для отеля RoyalTulipAlmaty открытием грандиозного сооружения, банкетного комплекса – GrandBallroom. Это целый архитектурный ансамбль, не имеющий аналогов в Республике Казахстан, впечатляющий своими размерами, функциональностью и технической оснащённостью! Для проектирования и строительства комплекса были привлечены лучшие специалисты Австрии и Италии! Бесспорный архитектурный шедевр современности, призванный изменить представление казахстанцев об уровне проведения самых различных мероприятий – от корпоративной бизнес встречи до грандиозного торжества Республиканского масштаба!
					.aboutus-block-bottom
				.aboutus-block-item
					.aboutus-block-header
						h3.aboutus-block-header-title Многоквартирный жилой дом 
					.aboutus-block-body.clearfix
						.aboutus-block-body-left
							img(src='./img/stoletovo.jpg').aboutus-block-body-item-img
							span.under-img-title Самый больший зал торжеств в г. Алматы
						.aboutus-block-body-right
							p.aboutus-block-body-text В 2014 сдан в эксплуатацию многоквартирный жилой дом в квадрате улиц Розыбакиева, Райымбека, Рыскулова, Гончарова.
							p.aboutus-block-body-text Тип строения - металлокаркас с наполнением теплогазоблоками, что делает его сейсмостойким и теплым. Высоты дома 9 этажей и состоит из одно- и двухкомнатных квартир проектной площадью 55 кв.м и 88 кв.м соответственно, при высоте потолка - 3м.
							p.aboutus-block-body-text В каждую квартиру заведены все коммуникации, включая отопление от центральной ТЭЦ, телефон, интернет и ТВ. Во всех квартирах большие кухни, что радует хозяек. По всей ширине квартиры проходит балкон. В доме имеется подземный паркинг.
							p.aboutus-block-body-text Подъезды снабжены высокоскоростными лифтами производства Южной Кореи.
							p.aboutus-block-body-text При интенсивности движения названных улиц, шум с дорог не достигает территории дома, так как здание возведено в глубине дворов.
							p.aboutus-block-body-text Качество строительства дома, его сейсмостойкость и красота наружной отделки, выполненной из гранита с элементами лепнины, являются предметом особой гордости компании.
					.aboutus-block-bottom

