extends layout.pug
block css
	link(rel="stylesheet" href="./css/boutiques.css")
block content
	.page-content-wrap
		.page-boutiques-container
			.boutiques-page-block.clearfix
				.sidebar
					.filter-block
						.filter-block-header.clearfix
							span.filter-title Ваш фильтр
							.clean-filter-block
								i.fa.fa-times(aria-hidden="true")
								span.clean-filter Сбросить
						.filter-block-body
							ul.filtered-items
								li.grand.filtered-item
									i.fa.fa-level-down(aria-hidden="true")
									span.filtered-item-title= grand
								li.parent.filtered-item
									i.fa.fa-level-down(aria-hidden="true")
									span.filtered-item-title= parent
								li.category.filtered-item
									span.filtered-item-title= category
				.boutiques-content
					.boutiques-block-items
						each boutique in docs
							.boutiques-block-item
								.boutiques-item-content
									.boutiques-item-content-logo
										- var url = './img/boutiques/' + boutique.logo
										img.boutique-img-logo(src= url)
									.boutiques-item-content-body
										.boutiques-content-header.clearfix
											.boutique-name
												h3.boutique-title boutique.name
											.boutique-show
												span.boutique-show перейти к компании
										.boutiques-content-body
											.boutique-description
												h3.boutique-about-title Описание компании
												p.boutique-about-text boutique.about
								.boutiques-item-foooter.clearfix
									.boutiques-item-foooter-icons
									.boutiques-item-foooter-body.clearfix
										.boutique-item-search-path
										.boutique-item-location
											span.bot-item-span.boutique-item-salamat boutique.salamat
											span.bot-item-span.boutique-item-salon boutique.salon
											span.bot-item-span.boutique-item-map-link показать на карте
					.boutiques-block-pages
						- var i = 0
						if pages
							div.pages-panel
								div.pages.clearfix
									while i < pages
										div.page-item(data-page= ++i)= i
block scripts
	script(src='./js/side-menu.js')
	script(src='./js/pagination.js')