doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Саламат - О компании
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/company.css")
	body.page
		.page-header
			.top-nav-menu
				.top-nav-menu-container
					.top-nav-menu-logo
						h2.company-title ТОО ЖАРАТ
					.top-nav-menu-links
						a.top-nav-menu-link Главная
						a.top-nav-menu-link Контакты
						a.top-nav-menu-link Аренда
						a.top-nav-menu-link План зданий

			.header-banner
				img(src='./img/salamatbanner.jpg').banner
				.banner-panel
					
		.page-content
			.company-about-block.page-block
				h2.about-block-header История компании
				.about-block-body
					p.history-block-text Товарищество с ограниченной ответственностью «Жарат» основано 16 мая 2000 года.
					p.history-block-text Начиная работу в нескольких контейнерах по продаже строительных материалов, компания развила рынок до пяти крупных торговых центров.
					p.history-block-text В 1997-1998 гг. году построили первый торговый центр строительных материалов  «Саламат-1». Общая квадратура тогда составляла 2500 кв.м.
					p.history-block-text Основной деятельностью компании являются: услуги аренды торговых площадей и земельных участков; строительно-монтажные работы; инжиниринг и проектирование; насыщение рынка товарами народного потребления, в том числе высококачественными строительными материалами, сантехническими оборудованиями. А также в компании имеются свое строительное оборудование и строительная техника.
				h2.about-block-header Строительство
				.about-block-body
					p.history-block-text Масштабным строительством компания занимается с 2001 года. За это время было построено много объектов, которые является самыми красивыми объектами города Алматы и неотъемлемой его частью.
					p.history-block-text В начале 2002 года началось строительство Торгового дома «Саламат-2», общей площадью 1381 кв.м.; торгового дома «Саламат-3,4», общей площадью 8000 кв.м. и 3100 кв.м., по адресу ул. Розыбакиева, уг.ул. Шевченко. В 2002 году по улице Байзакова, 194 компания построила бизнес центр площадью 1735 кв.м.
			.buildings-block
				.buildings-block-items.clearfix
					.buildings-block-item.page-block
						.royal.bg-buildings-block-item
							.bg-buildings-block-item-hover
								.bg-buildings-block-item-header
									h4.bg-buildings-block-item-header__title Royal Tulip Almaty
						.text-buildings-block-item
							h3.text-buildings-block-item__header Отель 5 звезд классы люкс 
							.text-buildings-block-item__body Наша огромная гордость - это еще один объект, пятизвездный отель RoyalTulipAlmaty, который открыл свои двери в 2010 году. Бренд RoyalTulip принадлежит GoldenTulipHospitalityGroup, одному из крупнейших международных гостиничных операторов. 
					.buildings-block-item.page-block
						.grandballroom.bg-buildings-block-item
							.bg-buildings-block-item-hover
								.bg-buildings-block-item-header
									h4.bg-buildings-block-item-header__title Grand Ballroom
						.text-buildings-block-item
							.text-buildings-block-item__header Банкетный зал Grand Ballroom
							.text-buildings-block-item__body 2013 год ознаменовался для отеля RoyalTulipAlmaty открытием грандиозного сооружения, банкетного комплекса – GrandBallroom. Это целый архитектурный ансамбль, не имеющий аналогов в Республике Казахстан, впечатляющий своими размерами, функциональностью и технической оснащённостью! Для проектирования и строительства комплекса были привлечены лучшие специалисты Австрии и Италии!
					.buildings-block-item.page-block
						.stoletovo.bg-buildings-block-item
							.bg-buildings-block-item-hover
								.bg-buildings-block-item-header
									h4.bg-buildings-block-item-header__title Жилой дом
						.text-buildings-block-item
							.text-buildings-block-item__header
							.text-buildings-block-item__body В 2014 сдан в эксплуатацию многоквартирный жилой дом в квадрате улиц Розыбакиева, Райымбека, Рыскулова, Гончарова. Тип строения - металлокаркас с наполнением теплогазоблоками, что делает его сейсмостойким и теплым. Высоты дома 9 этажей и состоит из одно- и двухкомнатных квартир проектной площадью 55 кв.м и 88 кв.м соответственно, при высоте потолка - 3м. В каждую квартиру заведены все коммуникации, включая отопление от центральной ТЭЦ, телефон, интернет и ТВ. Во всех квартирах большие кухни, что радует хозяек. По всей ширине квартиры проходит балкон. В доме имеется подземный паркинг.
		.page-footer.page-block


