doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Саламат - О компании
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/company.css")
	body.page
		.page-header
			.page-header-hover
				.top-nav-menu
					.top-nav-menu-container
						.top-nav-menu-logo
							h2.company-title ТОО ЖАРАТ
						.top-nav-menu-links
							a.top-nav-menu-link ГЛАВНАЯ
							a.top-nav-menu-link АРЕНДА
							a.top-nav-menu-link КОНТАКТЫ
							a.top-nav-menu-link ПЛАН ЗДАНИЙ
				.header-panel
					h2.header-panel-title ТОО ЖАРАТ
					h3.header-panel-text все для строительства
					.contact-button Написать нам
					
		.page-content

		.page-footer


