doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Саламат - О компании
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/company.css")
		script(src="https://use.fontawesome.com/335720a3b2.js")
	body.page
		.page-header
			.page-header-hover
				.top-nav-menu
					.top-nav-menu-container
						.top-nav-menu-logo
							h2.company-title О КОМПАНИИ
						.top-nav-menu-links
							a.top-nav-menu-link(href='home') ГЛАВНАЯ
							a.top-nav-menu-link(href='rent') АРЕНДА
							a.top-nav-menu-link(href='contacts') КОНТАКТЫ
							a.top-nav-menu-link(href='newplan') ПЛАН ЗДАНИЙ
				.header-panel
					h2.header-panel-title ТОО ЖАРАТ
					h3.header-panel-text все для строительства
					a(href='contacts')
						.contact-button Написать нам
		.page-content
			.company-history-block
				.company-history-block-container
					h2.company-history-block-title История компании
					.company-history-block-body
						p.body-text Товарищество с ограниченной ответственностью «Жарат» создано 16 мая 2000 года. Начиная работу в нескольких контейнерах по продаже строительных материалов, компания развила рынок строительных материалов. В 1997-1998 гг компания построила первый торговый центр строительных материалов «Саламат-1». Общая квадратура составляла 2500 кв.м.
			.services-block
				.services-block-container
					h2.services-block-title Наши услуги
					.services-block-body
						p.body-text Основной деятельностью ТОО "Жарат" является:
						ul.services-block-list
							li.services-block-list-item
								p.body-text услуги аренды торговых площадей и земельных участков;
							li.services-block-list-item
								p.body-text строительно-монтажные работы;
							li.services-block-list-item
								p.body-text инжиниринг и проектирование;
							li.services-block-list-item
								p.body-text насыщение рынка товарами народного потребления, в том числе высококачественными строительными материалами, сантехническими оборудованиями. А также в компании имеются свое строительное оборудование и строительная техника.
			.constructing-block
				.constructing-block-container
					h2.constructing-block-title Строительство
					p.body-text-m Масштабным строительством компания занимается с 2001 года.
					p.body-text-m В начале 2002 года началось строительство Торгового дома «Саламат-2», общей площадью 1381 кв.м.; торгового дома «Саламат-3,4», общей площадью 8000 кв.м. и 3100 кв.м., по адресу ул. Розыбакиева, уг.ул. Шевченко.
					p.body-text-m В 2002 году  по улице Байзакова,194 компания построила бизнес центр площадью 1735 кв.м.
					p.body-text-m В 2004 году по улице Радостовца, 73 компанией был построен и сдан в эксплуатацию 7-этажный жилой дом, общей площадью 3320 кв.м. Следом за ним также был построен 9-этажный жилой дом, общей площадью 7300 кв.м., срок постройки которого осуществился в ноябре 2006 года.
					p.body-text-m В 2007 году сдали в  эксплуатацию торговый дом «Саламат-5», общей площадью 7300 кв.м. и закончили реконструкцию (пристройка 3 и 4 этажей) торгового дома «Саламат-1», что на сегодняшний день общая площадь составляет 8000 кв.м
					p.body-text-m Элегантный и роскошный отель предлагает 166 просторных комнат, включая 9 люксов и Президентский люкс, а также ресторан международной кухни, летнюю террасу, лаунж бары, три конференц-зала, бальный зал с фойе, клуб здоровья, салон красоты, VIP-комнаты для бильярда, ночной клуб. Отель удобно расположен на проспекте Достык, в непосредственной близости от великолепных гор Тянь-Шаня, высокогорного катка Медео и горнолыжного курорта Шымбулак, а также в 10 минутах езды от финансового центра. Международный аэропорт Алматы находится в 20 км от отеля.
					p.body-text-m 2013 год ознаменовался для отеля RoyalTulipAlmaty открытием грандиозного сооружения, банкетного комплекса – GrandBallroom. Это целый архитектурный ансамбль, не имеющий аналогов в Республике Казахстан, впечатляющий своими размерами, функциональностью и технической оснащённостью!
					p.body-text-m В 2014 году закончилась стройка многоквартирного жилого дома в квадрате Розыбакиева, Райымбека, Рыскулова, Гончарова, тип строения металлокаркас с наполнением теплогазоблоками.
			.buildings-block
				.buildings-block-container
					h3.buildings-block-title Наши объекты
					.buildings-block-body.clearfix
						.salamat-block.side-item
							img.side-item-img(src='./img/objects/salamat.jpg')
							.side-item-body
								h3.side-item-body-title Саламат
								p.side-item-body-text  Торговый центр стройматериалов
						.royal-tulip-block.side-item
							img.side-item-img(src='./img/objects/royaltulip.jpg')
							.side-item-body
								h3.side-item-body-title Royal Tulip
								p.side-item-body-text Отель 5 звезд класса люкс
						.grand-ballroom-block.side-item
							img.side-item-img(src='./img/objects/grandballroom.jpg')
							.side-item-body
								h3.side-item-body-title Grand Ballroom
								p.side-item-body-text Самый большой зал торжеств в Алматы
						.stoletovo-block.side-item
							img.side-item-img(src='./img/objects/stoletovo.jpg')
							.side-item-body
								h3.side-item-body-title Мнонгоэтажный дом
								p.side-item-body-text Новый многоэтажный дом
		.page-footer
			.page-footer-container
				.footer-block-header
				.footer-block-items-row.clearfix
					each item in footer
						.footer-block-item
							h3.footer-block-item-header= item.title
							if item.links
								each link in item.links
									- var lnk;
									if link.link
										- lnk = link.link
									else
										- lnk = '#';
									.footer-block-item-link
										a(href= lnk).footer-block-item-link-span= link.title
							else
								.footer-block-item-subscribe
									input.footer-block-item-subscribe-input.subscribe-item
									.footer-block-item-subscribe-button.subscribe-item Отправить
								.footer-block-item-socicons(style='color: #888;')
									span.nav-span Мы в соц. сетях:
									i.fa.fa-lg.fa-facebook(aria-hidden="true").social-fb.social-icon
									i.fa.fa-lg.fa-instagram(aria-hidden="true").social-insta.social-icon
									i.fa.fa-lg.fa-vk(aria-hidden="true").social-vk.social-icon


