doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Data document edit
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="./css/data-edit.css")
	body.page-body
		.page-container
			h1.page-title
			.query-form-block
				h2.query-form-title Поиск бутика
				.query-form
					.query-form-field
						label.field-label(for="salamat") Саламат
						input.field-input(type="text" name= 'salamat')
					.query-form-field
						label.field-label(for="salon") Салон
						input.field-input(type="text" name= 'salon')
			.results-block
				.results-form-block
					h2.results-form-title
					//- each item in docs
					.results-form
						.results-field
							label.field-form(for="salamat") Саламат
							input.field-input(name='salamat')
							span.edit-button
						.results-field
							label.field-form(for="floor") Этаж
							input.field-input(name='floor')
							span.edit-button
						.results-field
							label.field-form(for="salon") Салон
							input.field-input(name='salon')
							span.edit-button
						.results-field
							label.field-form(for="name") Компания
							input.field-input(name='name')
							span.edit-button
						.results-field
							label.field-form(for="salamat") Описание
							input.field-input(name='salamat')
							span.edit-button
						.results-field
							label.field-form(for="salamat") Email
							input.field-input(name='salamat')
							span.edit-button
						.results-field
							label.field-form(for="salamat") Сайт
							input.field-input(name='salamat')
							span.edit-button
