doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Data document edit
	body.page-body
		.page-container
			.query-form
				h3.query-form-header Поиск по саламату и бутику
				label.query-label(for="salamat") Саламат
				input.query-input(type="text" name="salamat")
				label.query-label(for="salon") Салон
				input.query-input(type="salon" name="salon")
				.search-button Найти
			.data-form
				h3.data-form-header Найден салон
				.results
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
					.res-row
						input.data-input
						.edit_save
				.send-buton
	script(src='./js/search-data.js')


