doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Data document edit
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/data-edit.css")
	body.page-body
		.page-container
			.query-form
				h3.query-form-header Поиск по саламату и бутику
				.query-field-fow.clearfix
					label.query-label(for="salamat") Саламат
					input.query-input(type="text" name="salamat")
				.query-field-fow.clearfix
					label.query-label(for="salon") Салон
					input.query-input(type="salon" name="salon")
				.search-button Найти
			.data-form
				h3.data-form-header Найден салон
				.results
					.res-row.clearfix
						label.data-label name
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label salamat
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label salon
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label phone
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label total
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label about
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label logo
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label picts
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label son
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label email
						input.data-input
						.edit_save
					.res-row.clearfix
						label.data-label site
						input.data-input
						.edit_save
				.send-buton
	script(src='./js/search-data.js')


