doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Data document edit
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="./css/data-edit.css")
	body.page-body
		.page-container
			.results-block
				.results-form-block
					h2.results-form-title Найдено
					//- each item in docs
					.results-form
						.results-field.clearfix
							label.field-label(for="salamat") Саламат
							input.results-field-input(name='salamat')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="floor") Этаж
							input.results-field-input(name='floor')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="salon") Салон
							input.results-field-input(name='salon')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="name") Компания
							input.results-field-input(name='name')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="salamat") Описание
							input.results-field-input(name='salamat')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="salamat") Email
							input.results-field-input(name='salamat')
							.edit-button Редактировать
						.results-field.clearfix
							label.field-label(for="salamat") Сайт
							input.results-field-input(name='salamat')
							.edit-button Редактировать
