doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Edit boutique
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="./css/editboutique.css")
	body.page-body
		.page-container
			.results-block
				.results-form-block
					each item in docs
						.results-form
							h2.results-form-title= item.name
							.results-field.clearfix
								label.field-label(for="salamat") Саламат
								input.results-field-input(disabled name='salamat' value= item.salamat)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="floor") Этаж
								input.results-field-input(disabled name='floor' value= item.etazh)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="salon") Салон
								input.results-field-input(disabled name='salon' value= item.salon)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="name") Компания
								input.results-field-input(disabled name='name' value= item.name)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="salamat") Описание
								input.results-field-input(disabled name='salamat' value= item.about)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="salamat") Email
								input.results-field-input(disabled name='salamat' value= item.email)
								.edit-button Редактировать
							.results-field.clearfix
								label.field-label(for="salamat") Сайт
								input.results-field-input(disabled name='salamat' value= item.site)
								.edit-button Редактировать
