doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Find boutique
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="./css/findboutique.css")
	body.page-body
		.page-container
			.query-form-block
				h2.query-form-title Поиск бутика
				.query-form
					.query-form-field
						label.field-label(for="salamat") Саламат
						input.field-input#salamat(type="text" name= 'salamat')
					.query-form-field
						label.field-label(for="salon") Салон
						input.field-input#salon(type="text" name= 'salon')
					.search-button Найти
					.returned-message
		script(src='./js/find-boutique.js')