extends layout.pug
block css
	link(rel="stylesheet" href="./css/home.css")
block content
	.home-page-container
		.slider-block.page-block
			.slide-building-materials.slide
				.slide-about
					h2.slide-about-heading.slide-about-heading--building-materials Стройматериалы
					p.slide-about-text Огромный ассортимент материалов для строительства
					.more-button Подробнее
			.slide-bath.slide
				.slide-about
					h2.slide-about-heading.slide-about-heading--bath Сантехника
					p.slide-about-text--bath Сантехника от самых популярных брендов
					.more-button Подробнее
			.slide-tools.slide
				.slide-about
					h2.slide-about-heading.slide-about-heading--tools Инструменты
					p.slide-about-text Все виды инструментов для строительства и ремонта
					.more-button Подробнее
			.slide-interior.slide
				.slide-about
					h2.slide-about-heading.slide-about-heading--tools Интерьер
					p.slide-about-text Стильный декор для вашего дома
					.more-button Подробнее
			.slide-kitchen.slide
				.slide-about
					h2.slide-about-heading.slide-about-heading--tools Кухни
					p.slide-about-text Встраиваемая техника, мебель, товары
					.more-button Подробнее
		.brands-block.page-block.mt-block
			.brands-items.clearfix
				.brand-item
					img.brand-logo-img(src='./img/brands/electrolux.png')
				.brand-item
					img.brand-logo-img(src='./img/brands/lemark.png')
				.brand-item
					img.brand-logo-img(src='./img/brands/mapisa.png')
				.brand-item
					img.brand-logo-img(src='./img/brands/tarkett.png')
				.brand-item
					img.brand-logo-img(src='./img/brands/kronotex.jpg')
		.services-block.mt-block
			.services-block-items.clearfix
				.services-block-item.page-block
					.services-block-item-header.clearfix
						img(src='./icons/services/стройматериалы.png').services-block-item__img
						.services-block-item-about
							h3.services-block-item-about__heading Стройматериалы
					.services-block-item-block
						p.services-block-item-about__text Все для строительства, ремонта и монтажа
				.services-block-item.page-block.clearfix
					img(src='./icons/services/rent.png').services-block-item__img
					.services-block-item-about
						h3.services-block-item-about__heading Аренда
						p.services-block-item-about__text Общая площадь 20 716 кв. м.
				.services-block-item.page-block.clearfix
					img(src='./icons/services/building.png').services-block-item__img
					.services-block-item-about
						h3.services-block-item-about__heading Строительство
						p.services-block-item-about__text Строительная компания категории А
		.popular-categories.category-block
			.category-header
				h3.category-header-title Популярные категории
			.category-body
				.category-row-items.clearfix
					each item in categories.pop_categories
						- var imgurl = './img/' + item.link
						.category-row-item.item-6
							img.category-img(src= imgurl)
							.category-item-hover-block
								p.category-item-hover-block-text= item.name
		.bath-area.category-block
			.category-header.line-header
				h3.category-header-title Все для ванной
			.category-body
				.category-row-items.clearfix
					each item in categories.bath_category
						- var imgurl = './img/' + item.link
						.category-row-item.item-4
							img.category-img(src= imgurl)
							.category-content-title
								h4.category-content-title-heading= item.name
		.furniture-area.category-block
			.category-header.line-header
				h3.category-header-title Мебель
			.category-body
				.category-row-items.clearfix
					each item in categories.furniture_category
						- var imgurl = './img/' + item.link
						.category-row-item.item-4
							img.category-img(src= imgurl)
							.category-content-title
								h4.category-content-title-heading= item.name
block scripts
	script(src='./js/side-menu.js')
	script(src='./js/slider.js')