doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Схема этажей Саламат
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/plan.css")
	body
		.plan-block
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
				block content
		.salamat-menu-block
			ul.menu-list
				li.menu-list-item
					.salamat-menu-block
						ul.sub-menu-list
							li.sub-menu-list-item
							li.sub-menu-list-item
							li.sub-menu-list-item
							li.sub-menu-list-item
				li.menu-list-item
				li.menu-list-item
				li.menu-list-item
				li.menu-list-item