extends layout.pug
block css
	link(rel="stylesheet" href="./css/rent.css")
block content
	.rent-page-content
		.rent-page-container
			.trade-area-imgs
				.trade-area-header
					h2.trade-area-title Торговые площади
				.trade-area-content
					.trade-area-items.clearfix
						each item in rent_imgs
							.trade-area-item
								- var url = '/img/rent/' + item
								img.trade-area-img-item(src= url)
			.for-rent-block
				.for-rent-header
					h2.for-rent-title Сдаются в аренду помещения
				.for-rent-content
					.for-rent-list
						.rent-list.clearfix
							.rent-list-item Саламат 1
							.rent-list-value.rent-list-item торг. площадь 10 кв.м
							.rent-list-item.map-link 
								a.link.map-link(href='salamat2-2') показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 3-3 этаж
							.rent-list-value.rent-list-item торг. площадь 90 кв.м
							.rent-list-item.map-link-block
								a.link.map-link(href='salamat3-3') показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 5
							.rent-list-value.rent-list-item торг. площадь 54 кв.м
							.rent-list-item.map-link
								a.link.map-link(href='salamat5-3') показать на карте
						.rent-list.clearfix
							.rent-list-item Прилавки
							.rent-list-value.rent-list-item 2 по 5 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Склад
							.rent-list-value.rent-list-item 24 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Склад
							.rent-list-value.rent-list-item 9 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте

