extends layout.pug
block css
	link(rel="stylesheet" href="./css/rent.css")
block content
	.rent-page-content
		.rent-page-container
			.trade-area-imgs
				.trade-area-header
					h2.trade-area-title Торговые площади
				.trade-area-content
					.trade-area-items.clearfix
						each item in rent_imgs
							.trade-area-item
								- var url = '/img/rent/' + item
								img.trade-area-img-item(src= url)
			.for-rent-block
				.for-rent-header
					h2.for-rent-title Сдаются в аренду помешения
				.for-rent-content
					table.for-rent-list
						tbody.rent-list
							tr
								td.rent-list-itemСаламат 2
								td.rent-list-item-span торг. площадь 122 кв.м
							tr
								td.rent-list-item Саламат 3
								td.rent-list-item-span торг. площадь 90 кв.м
							tr
								td.rent-list-item Саламат 5
								td.rent-list-item-span торг. площадь 100 кв.м
							tr
								td.rent-list-item Прилавки
								td.rent-list-item-span 2 по 5 кв.м
							tr
								td.rent-list-item Склад
								td.rent-list-item-span 24 кв.м
							tr
								td.rent-list-item Склад
								td.rent-list-item-span 9 кв.м

