extends layout.pug
block css
	link(rel="stylesheet" href="./css/rent.css")
block content
	.rent-page-content
		.rent-page-container
			.trade-area-imgs
				.trade-area-header
					h2.trade-area-title Торговые площади
				.trade-area-content
					.trade-area-items.clearfix
						each item in rent_imgs
							.trade-area-item
								- var url = '/img/rent/' + item
								img.trade-area-img-item(src= url)
			.for-rent-block
				.for-rent-header
					h2.for-rent-title Сдаются в аренду помещения
				.for-rent-content
					.for-rent-list
						.rent-list.clearfix
							.rent-list-item Саламат 5
							.rent-list-value.rent-list-item торг. площадь 59 кв.м
							.rent-list-item.map-link 
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 5
							.rent-list-value.rent-list-item торг. площадь 62 кв.м
							.rent-list-item.map-link-block
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 5
							.rent-list-value.rent-list-item торг. площадь 42 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 5
							.rent-list-value.rent-list-item торг. площадь 50 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 3-3
							.rent-list-value.rent-list-item торг. площадь 58 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 3-3
							.rent-list-value.rent-list-item торг. площадь 90 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте
						.rent-list.clearfix
							.rent-list-item Саламат 2
							.rent-list-value.rent-list-item торг. площадь 36 кв.м
							.rent-list-item.map-link
								a.link.map-link показать на карте

