extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.floor-plan-header
		h2.salamat-title Саламат 1
		h3.floor-title первый этаж
	.tooltip-block
		h3.title
		ul.tooltip-list
			li.tooltip-list-item-salamat.tooltip-item
			li.tooltip-list-item-boutique.tooltip-item
		.tooltip-button.tooltip-item Перейти
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' data-salamat='1')
		style(type='text/css').
			.boutique:hover .st4{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.st0{fill:#FAB4FC;}
			.st1{fill:#FFFBB3;}
			.st2{fill:#B2DBF7;}
			.st3{fill:#CDF9E0;}
			.st4{fill:#FFFFFF;stroke:#FF7F66;stroke-miterlimit:10;}
			.st5{fill:#4F4F4F;}
			.st6{font-family:'MyriadPro-Regular';}
			.st7{font-size:14px;user-select=none;cursor:pointer}
			.st8{fill:none;stroke:#4F4F4F;stroke-miterlimit:10;}
			.st9{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
		rect.st0(x='618.8', y='131.2', width='43.6', height='24.9')
		rect.st1(x='458.7', y='217.6', width='29.1', height='33')
		rect.st2(x='543.7', y='256.1', width='45', height='34')
		rect.st2(x='583.9', y='180.6', width='54.4', height='31')
		rect.st0(x='152.4', y='92.8', width='20', height='28.2')
		rect.st2(x='172.7', y='86', width='43.7', height='35')
		polygon.st3(points='650.8,131.2 650.8,98.7 673.9,98.7 673.8,156 662.3,156.1 662.3,131.2 ')
		g.boutique(data-boutique='s63')
			rect#r63.st4(x='414.6', y='221.6', width='22', height='29')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 418.9434 241.7035)') 63
		g.boutique(data-boutique='s43')
			rect#r43.st4(x='414.6', y='180.6', width='22', height='27.7')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 418.9435 199.5898)') 43
		g
			line.st8(x1='717.6', y1='169.3', x2='684.8', y2='169.3')
			line.st8(x1='693.4', y1='162.6', x2='684.8', y2='169.3')
			line.st8(x1='684.8', y1='169.3', x2='693.4', y2='176')
		g.boutique(data-boutique='s61')
			rect#r61.st4(x='102.4', y='86', width='26.1', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 109.3573 114.3806)') 61
		g.boutique(data-boutique='s8')
			rect#r8_x5F_1.st4(x='128.5', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 150.6001 114.3806)') 8
		g.boutique(data-boutique='s9')
			rect#r9.st4(x='216.4', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 238.5001 114.3804)') 9
		g.boutique(data-boutique='s8')
			rect#r8.st4(x='260.6', y='86', width='50.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 283.1249 114.3808)') 8
		g.boutique(data-boutique='s7')
			rect#r7.st4(x='310.9', y='86', width='53.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 334.9369 114.3805)') 7
		g.boutique(data-boutique='s6')
			rect#r6.st4(x='364.2', y='86', width='50.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 384.7998 114.3805)') 6
		g.boutique(data-boutique='s5')
			rect#r5.st4(x='414.5', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 433.5501 114.3804)') 5
		g.boutique(data-boutique='s4')
			rect#r4.st4(x='458.7', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 477.8501 114.3804)') 4
		g.boutique(data-boutique='s3')
			rect#r3.st4(x='502.9', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 521.9354 114.3804)') 3
		g.boutique(data-boutique='s2')
			rect#r2.st4(x='547.2', y='86', width='44.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 566.3 114.3804)') 2
		g.boutique(data-boutique='s1')
			rect#r1.st4(x='591.4', y='86', width='82.4', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 629.6002 114.3808)') 1
		g.boutique(data-boutique='s40')
			rect#r40.st4(x='673.9', y='102', width='25.9', height='38')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 679.4716 124.7563)') 40
		g.boutique(data-boutique='s10')
			rect#r10.st4(x='183.9', y='180.6', width='59.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 210.7114 215.9957)') 10
		g.boutique(data-boutique='s11')
			rect#r11.st4(x='243.2', y='180.6', width='59.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 270.4848 215.9955)') 11
		g.boutique(data-boutique='s12')
			rect#r12.st4(x='302.5', y='180.6', width='112', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 355.2303 215.9958)') 12
		g.boutique(data-boutique='s13')
			polygon#r13.st4(points='583.9,180.6 458.6,180.6 458.6,217.6 487.8,217.6 487.8,250.6 576.8,250.6 576.8,211.6 \
			583.9,211.6 	')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 532.6501 215.9955)') 13
		g.boutique(data-boutique='s14')
			rect#r14.st4(x='577.1', y='211.6', width='61.1', height='39')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 606.0001 234.0895)') 14
		g.boutique(data-boutique='s15')
			polygon#r15.st4(points='673.9,199.6 650.8,231.6 650.8,250.6 673.9,250.6 	')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 655.1292 241.0782)') 15
		g.boutique(data-boutique='s41а')
			rect.st4(id='s41а', x='673.9', y='199.6', width='25.9', height='30.3')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 677.0345 219.756)') 41&acy;
		g.boutique(data-boutique='s58')
			polygon#r58.st4(points='102.4,250.6 202.1,250.6 202.1,295.6 133.3,295.6 	')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 162.4036 277.6977)') 58
		g.boutique(data-boutique='s59')
			rect#r59.st4(x='202.4', y='250.6', width='100', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 252.3998 277.6976)') 59
		g.boutique(data-boutique='s62')
			rect#r62.st4(x='414.6', y='250.6', width='44', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 433.5499 277.6974)') 62
		g.boutique(data-boutique='s60')
			rect#r60.st4(x='302.4', y='250.6', width='112.1', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 355.2301 277.6976)') 60
		g.boutique(data-boutique='s50')
			rect#r50.st4(x='458.7', y='250.6', width='38.3', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 473.26 277.6976)') 50
		g.boutique(data-boutique='s46')
			rect#r46.st4(x='497', y='250.6', width='41.2', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 514.2965 277.6973)') 46
		g.boutique(data-boutique='s65')
			rect#r65.st4(x='538.2', y='250.6', width='135.6', height='45')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 625.876 277.6976)') 65
		g.boutique(data-boutique='s47')
			rect#r47.st4(x='505.7', y='295.6', width='32.5', height='69')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 517.5995 333.3409)') 47
		g.boutique(data-boutique='s42')
			rect#r42.st4(x='673.7', y='390.9', width='26.3', height='54.7')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 679.0348 421.9636)') 42
		g.boutique(data-boutique='s41')
			rect#r41.st4(x='673.7', y='328.8', width='26.3', height='61.8')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 679.4717 364.5897)') 41
		g.boutique(data-boutique='s49')
			rect#r49.st4(x='505.7', y='402.8', width='32.5', height='38.3')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 517.5994 423.8346)') 49
		g.boutique(data-boutique='s44а')
			rect.st4(id='s44а', x='505.7', y='364.6', width='32.5', height='38.2')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 511.2458 386.8528)') 44&acy;
		g.boutique(data-boutique='s57')
			rect#r57.st4(x='538.2', y='295.6', width='135.6', height='192.7')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 605.5994 391.9146)') 57
		g.boutique(data-boutique='s44')
			rect#44.st4(x='557.9', y='488.2', width='115.8', height='25.8')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 611.0895 505.1219)') 44
		g.boutique(data-boutique='s48')
			polygon#r48.st4(points='538.2,457.1 505.7,457.1 505.7,514 557.9,514 557.9,488.2 538.2,488.2 	')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 517.5994 494.8271)') 48
		g
			line.st8(x1='717.6', y1='271', x2='684.8', y2='271')
			line.st8(x1='693.4', y1='264.3', x2='684.8', y2='271')
			line.st8(x1='684.8', y1='271', x2='693.4', y2='277.7')
		g.boutique(data-boutique='s9')
			rect.st4(x='128.6', y='180.6', width='55.3', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 152.4073 215.9958)') 9
		g.boutique(data-boutique='s9')
			rect.st4(x='102.4', y='180.6', width='26.2', height='70')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 112.3717 215.9957)') 9
		g.boutique(data-boutique='s42а')
			rect.st4(id='s42а', x='673.7', y='445.6', width='26.3', height='68.4')
			g
				text.st5.st6.st7(transform='matrix(1 0 0 1 677.0341 483.024)') 42a
		polygon.st9(points='673.8,86 102.4,86 102.4,250.6 538.2,250.6 538.2,488.2 673.8,488.2 ')
block scripts
	script(src='./js/plan.js')