extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 3
				h3.floor-title второй этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' x="0px" y="0px" viewBox="0 0 800 600" data-salamat='3')
		style(type='text/css').
			.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.boutique:hover .str_numb{fill:#FFFFFF}
			.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
			.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
			.st0{fill:#B2DBF7;}
			.st1{fill:#FFFBB3;}
			.st6{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
		rect.st0(x='420.1', y='220.5', width='22.6', height='44.2')
		rect.st1(x='36.6', y='264.7', width='37', height='25.5')
		rect.rect(x='655.2', y='321.2', width='37.4', height='47.3')
		g
			polygon.rect(id='s25а', points='675.8,220.5 675.8,251.5 692.6,251.5 692.6,264.7 764.3,264.7 764.3,220.5 	')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 722.4229 246.3785)') 25&acy;
		g
			rect#s40.rect(x='418', y='325.1', width='26.7', height='43.4')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 427.0005 348.9333)') 40
		g
			rect#s38.rect(x='267.9', y='290.2', width='78.3', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 301.6419 333.2383)') 38
		g
			rect#s36.rect(x='112', y='290.2', width='78.3', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 145.7874 333.2381)') 36
		g
			rect#s37.rect(x='190.3', y='290.2', width='77.5', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 224.6798 333.238)') 37
		g
			rect#s34.rect(x='35.3', y='220.5', width='97.3', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 77.2134 246.3786)') 34
		g
			rect#s33.rect(x='132.6', y='220.5', width='57.7', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 157.0952 246.378)') 33
		g
			rect#s32.rect(x='190.3', y='220.5', width='88.6', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 229.1123 246.3784)') 32
		g
			rect#s31.rect(x='278.9', y='220.5', width='53.8', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 301.6421 246.3783)') 31
		g
			rect#s30.rect(x='332.8', y='220.5', width='37.7', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 346.183 246.3785)') 30
		g
			rect#s29.rect(x='370.4', y='220.5', width='49.6', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 391.9203 246.3782)') 29
		g
			rect#s28.rect(x='442.7', y='220.5', width='62.8', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 467.0459 246.3784)') 28
		g
			rect#s27.rect(x='505.5', y='220.5', width='31.5', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 515.8562 246.3784)') 27
		g
			rect#s26.rect(x='537', y='220.5', width='68.5', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 565.6617 246.3782)') 26
		g
			rect#s25.rect(x='605.4', y='220.5', width='31.3', height='44.2')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 616.2486 246.3782)') 25
		g
			polygon.rect(id='s25б', points='636.7,220.5 636.7,264.7 646.1,264.7 662,251.5 662,220.5 	')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 640.6036 246.3782)') 25&bcy;
		g
			rect#s35.rect(x='35.3', y='290.2', width='76.8', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 68.3567 333.2383)') 35
		rect.rect(x='595.7', y='290.2', width='9.7', height='31')
		g
			rect#s43.rect(x='520.9', y='290.2', width='37.4', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 534.8201 321.2217)') 43
		g
			rect#s44.rect(x='558.3', y='290.2', width='37.4', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 571.1887 321.2217)') 44
		g
			rect#s45.rect(x='595.7', y='321.2', width='59.5', height='47.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 621.0414 346.8217)') 45
		g
			rect#s67.rect(x='692.6', y='304.4', width='71.7', height='64.1')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 722.4233 340.8731)') 67
		g
			rect#s24.rect(x='692.6', y='264.7', width='71.7', height='39.7')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 722.4233 290.2401)') 24
		g
			rect#s42.rect(x='483.6', y='290.2', width='37.4', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 497.5984 321.2217)') 42
		g
			polygon#s41.rect(points='483.6,290.2 464,290.2 464,307.9 444.7,307.9 444.7,368.5 483.6,368.5 	')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 458.6654 348.9329)') 41
		g
			polygon.rect(points='399.8,307.9 399.8,290.2 370.4,290.2 370.4,368.5 418,368.5 418,307.9 	')
			rect.rect(x='346.2', y='290.2', width='24.3', height='78.3')
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 388.461 333.2385)') 39
			g
				text.str_numb(transform='matrix(0.9002 0 0 1 351.6146 333.2386)') 39
		rect.st6(x='35.3', y='220.5', width='729', height='148')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')