extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 4
				h3.floor-title первый этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' data-salamat='4')
		style(type='text/css').
			.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.boutique:hover .str_numb{fill:#FFFFFF}
			.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
			.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
			.st0{fill:#B2DBF7;}
			.st5{font-size:13.8872px;}
			.st6{font-size:14.0572px;}
			.st7{font-size:8.931px;}
			.st8{font-size:8.9301px;}
			.st9{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
		rect.st0(x='300.5', y='360.9', width='33.3', height='9.4')
		rect.st0(x='415', y='360.9', width='25.5', height='9.4')
		g
			rect#s1.rect(x='690.4', y='216.3', width='71.6', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 722.0608 241.9048)') 1
		g
			rect#s49.rect(x='333.9', y='301.4', width='17.4', height='59.5')
			text.str_numb(transform='matrix(1 0 0 1 335.4429 335.8811)') 49
		g
			rect#s52.rect(x='397.6', y='310.9', width='17.4', height='49.9')
			text.str_numb(transform='matrix(1 0 0 1 399.0004 338.6583)') 52
		g
			rect#s14.rect(x='246', y='281.9', width='87.9', height='79')
			text.str_numb(transform='matrix(1 0 0 1 286.0001 326.042)') 14
		g
			rect#s13.rect(x='157', y='281.9', width='89', height='79')
			text.st2.st3.st5(transform='matrix(1.0081 0 0 1 197.5928 325.6865)') 13
		g
			rect#s12.rect(x='38', y='281.9', width='119', height='79')
			text.st2.st3.st6(transform='matrix(0.9959 0 0 1 90.1504 325.8994)') 12
		g
			rect#s11.rect(x='38', y='216.3', width='68.2', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 65.7504 241.9051)') 11
		g
			rect#s10.rect(x='106.2', y='216.3', width='67.7', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 133.467 241.9048)') 10
		g
			rect#s9.rect(x='173.9', y='216.3', width='66.7', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 204.45 241.9049)') 9
		g
			rect#s8.rect(x='240.6', y='216.3', width='66', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 270.1382 241.9051)') 8
		g
			rect#s7.rect(x='306.7', y='216.3', width='64.8', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 335.8676 241.9051)') 7
		g
			rect.rect(id='_x34_б', x='434', y='216.3', width='37', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 447.1475 241.9051)') 4&bcy;
		g
			rect#s15.rect(x='415', y='281.9', width='56', height='79')
			text.str_numb(transform='matrix(1 0 0 1 438.9675 326.042)') 15
		g
			rect#s16.rect(x='471', y='281.9', width='57.5', height='79')
			text.str_numb(transform='matrix(1 0 0 1 494.3398 326.042)') 16
		g
			rect#s17.rect(x='528.5', y='281.9', width='57.5', height='88.4')
			text.str_numb(transform='matrix(1 0 0 1 551.9139 326.0422)') 17
		g
			rect.rect(id='_x34_а', x='471', y='216.3', width='37.6', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 484.9011 241.9052)') 4&acy;
		g
			rect.rect(id='s3а', x='508.6', y='216.3', width='72', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 537.7562 241.9051)') 3&acy;
		g
			rect#s3.rect(x='580.6', y='216.3', width='50.8', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 604.6886 241.905)') 3
		g
			rect#s2.rect(x='631.4', y='216.3', width='59', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 657.8632 241.9052)') 2
		g
			rect#s18.rect(x='586', y='281.9', width='57', height='88.4')
			text.str_numb(transform='matrix(1 0 0 1 609.2428 326.0422)') 18
		g
			rect#s19.rect(x='643', y='281.9', width='59', height='88.4')
			text.str_numb(transform='matrix(1 0 0 1 667.7784 326.0421)') 19
		g
			rect#s20.rect(x='702', y='281.9', width='60', height='88.4')
			text.str_numb(transform='matrix(1 0 0 1 726.1821 326.0421)') 20
		g
			rect#s57.rect(x='471', y='360.9', width='57.5', height='9.4')
			text.st2.st3.st7(transform='matrix(1.0936 0 0 1 494.3392 368.3283)') 57
		g
			rect#s22.rect(x='38', y='360.9', width='59.5', height='9.4')
			text.st2.st3.st7(transform='matrix(1.0936 0 0 1 62.6951 368.3282)') 22
		g
			rect#s62.rect(x='97.5', y='360.9', width='59.5', height='9.4')
			text.st2.st3.st7(transform='matrix(1.0936 0 0 1 122.3501 368.3282)') 62
		g
			rect#s57_1_.rect(x='157', y='360.9', width='89', height='9.4')
			text.st2.st3.st8(transform='matrix(1.0937 0 0 1 195.748 368.3281)') 57
		g
			rect#s56.rect(x='246', y='360.9', width='54.5', height='9.4')
			text.st2.st3.st7(transform='matrix(1.0936 0 0 1 268.6923 368.3284)') 56
		g
			rect#s55.rect(x='440.5', y='360.9', width='30.5', height='9.4')
			text.st2.st3.st7(transform='matrix(1.0936 0 0 1 450.41 368.3283)') 55
		g
			rect#s5-6.rect(x='371.4', y='216.3', width='62.6', height='47.1')
			text.str_numb(transform='matrix(1 0 0 1 388.8302 241.9051)') 5
			text.str_numb(transform='matrix(1 0 0 1 410.7962 241.9048)') 6
		polyline.st9(points='334,370.2 38,370.2 38,216.3 762,216.3 762,370.2 415,370.2 ')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')