extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 3
				h3.floor-title первый этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
				svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' x="0px" y="0px" viewBox="0 0 800 600" data-salamat='3')
					style(type='text/css').
						.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
						.boutique:hover .str_numb{fill:#FFFFFF}
						.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
						.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
						.st0{fill:#B2DBF7;}
						.st2{fill:none;stroke:#4F4F4F;stroke-miterlimit:10;}
						.st6{font-size:12px;}
						.st7{fill:none;stroke:#4F4F4F;stroke-width:2;stroke-miterlimit:10;}
						.st8{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
					rect.st0(x='420.1', y='220.5', width='22.6', height='46.2')
					path.rect(d='M641.9 318.2')
					g
						line.st2(x1='764.3', y1='362.5', x2='737', y2='344.3')
						line.st2(x1='747.8', y1='343.5', x2='737', y2='344.3')
						line.st2(x1='737', y1='344.3', x2='740.4', y2='354.7')
					g
						polygon#s1.rect(points='764.3,263.5 694.1,263.5 694.1,307.1 736.2,327.6 764.3,294.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 727.1864 292.5427)') 1
					g
						rect#s7.rect(x='328.8', y='220.5', width='36', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 345.5449 247.789)') 7
					g
						rect#s6.rect(x='364.8', y='220.5', width='55.3', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 392.4305 247.7882)') 6
					g
						rect#s5.rect(x='442.7', y='220.5', width='61.4', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 471.0258 247.7885)') 5
					g
						rect.rect(id='s4а', x='504.1', y='220.5', width='35.4', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 516.2032 247.2529)') 4&acy;
					g
						polygon.rect(id='s3а', points='662.8,220.5 662.8,250.1 648.5,266.8 638.1,266.8 638.1,220.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 645.3455 247.7888)') 3&acy;
					g
						polygon#s2.rect(points='764.3,263.5 694.1,263.5 687.4,250.1 676.1,250.1 676.1,220.5 764.3,220.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 727.1863 244.7943)') 2
					g
						rect#s4.rect(x='539.6', y='220.5', width='37.7', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 555.7772 247.7885)') 4
					g
						rect#s3.rect(x='577.3', y='220.5', width='60.8', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 604.4572 247.7885)') 3
					g
						rect#s13.rect(x='114.3', y='295.5', width='61.3', height='73')
						g
							text.str_numb(transform='matrix(1 0 0 1 138.7274 336.4895)') 13
					g
						rect#s12.rect(x='35.3', y='295.5', width='79', height='73')
						g
							text.str_numb(transform='matrix(1 0 0 1 69.7695 336.4901)') 12
					g
						rect#s11.rect(x='35.3', y='220.5', width='94.8', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 74.7721 247.2529)') 11
					g
						rect#s10.rect(x='130.1', y='220.5', width='51.6', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 148.8695 248.5522)') 10
					g
						rect#s9.rect(x='181.7', y='220.5', width='89.3', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 222.9398 247.7889)') 9
					g
						rect#s8.rect(x='271', y='220.5', width='57.8', height='46.2')
						g
							text.str_numb(transform='matrix(1 0 0 1 298.5291 247.7888)') 8
					g
						polygon#s19.rect(points='499.5,295.5 480.9,295.5 480.9,368.5 518.5,368.5 518.5,314.7 499.5,314.7 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 495.0209 336.49)') 19
					g
						polygon#s18.rect(points='442.7,312.6 461.9,295.5 480.9,295.5 480.9,368.5 442.7,336 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 459.7959 336.4899)') 18
					g
						polygon#s17.rect(points='354.2,295.5 397.4,295.5 420.1,312.6 420.1,336 370.9,368.5 354.2,368.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 377.7231 336.4898)') 17
					g
						polygon#s16.rect(points='288.7,295.5 354.2,295.5 354.2,368.5 260.9,368.5 260.9,321.2 288.7,321.2 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 309.1169 336.4897)') 16
					g
						polygon#s15.rect(points='222.9,295.5 288.7,295.5 288.7,321.2 260.9,321.2 260.9,368.5 222.9,368.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 234.2173 336.4895)') 15
					g
						rect.rect(id='s14а', x='199.7', y='295.5', width='23.3', height='73')
						g
							text.str_numb(transform='matrix(1 0 0 1 200.6613 336.4891)') 14&acy;
					g
						rect#s14.rect(x='175.5', y='295.5', width='24.1', height='73')
						g
							text.str_numb(transform='matrix(1 0 0 1 178.8453 336.4894)') 14
					g
						rect#s64.rect(x='410.8', y='356.2', width='39.8', height='12.4')
						g
							text.str_numb.st6(transform='matrix(1 0 0 1 425.0062 366.4614)') 64
					g
						polygon#s20.rect(points='555.8,295.5 499.5,295.5 499.5,314.7 518.5,314.7 518.5,368.5 555.8,368.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 530.9782 336.4898)') 20
					g
						polygon#s22.rect(points='641.9,318.2 615.8,295.5 606.2,295.5 606.2,314.7 588.8,314.7 588.8,368.5 641.9,368.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 607.6743 336.4896)') 22
					g
						polygon#s21.rect(points='606.2,295.5 555.8,295.5 555.8,368.5 588.8,368.5 588.8,314.7 606.2,314.7 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 566.8018 336.4886)') 21
					g
						polygon.rect(points='701.3,368.5 720.3,346.3 676.1,322.3 676.1,368.5 	')
						polygon.rect(points='641.9,368.5 641.9,318.2 668.5,318.2 676.1,322.3 676.1,368.5 	')
						g
							text.str_numb(transform='matrix(1 0 0 1 652.7314 349.5027)') 23
						g
							text.str_numb(transform='matrix(1 0 0 1 684.2632 353.4239)') 23
					polyline.st7(points='370.9,368.5 35.3,368.5 35.3,220.5 764.3,220.5 764.3,294.5 736.2,327.6 ')
					polyline.st8(points='720.3,346.3 701.3,368.5 480.9,368.5 ')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')