extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 5
				h3.floor-title третий этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' data-salamat='5')
		style(type='text/css').
			.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.boutique:hover .str_numb{fill:#FFFFFF}
			.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
			.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
			.st0{fill:#CDF9E0;}
			.st1{fill:#B2DBF7;}
			.st2{fill:#FAB4FC;}
			.st3{fill:none;stroke:#4F4F4F;stroke-miterlimit:10;}
			.st8{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
		rect.st0(x='594', y='484.5', width='21.8', height='42.3')
		rect.st1(x='650.1', y='508.6', width='11.7', height='18.6')
		rect.st1(x='101.1', y='436.5', width='15.7', height='20.8')
		rect.st2(x='601.8', y='484.5', width='14', height='10.4')
		g
			line.st3(x1='547.7', y1='282.9', x2='580.6', y2='282.9')
			line.st3(x1='572', y1='289.6', x2='580.6', y2='282.9')
			line.st3(x1='580.6', y1='282.9', x2='572', y2='276.3')
		g
			rect.rect(id='s25б', x='594', y='51.7', width='126', height='213')
			text.str_numb(transform='matrix(1 0 0 1 652.7058 163.3081)') 25&bcy;
		g
			polygon.rect(id='s18а', points='207.4,414.9 207.4,479.1 116.9,479.1 116.9,436.4 101.1,436.4 101.1,414.8 	')
			text.str_numb(transform='matrix(1 0 0 1 154.2872 453.1324)') 18&acy;
		g
			rect#s17.rect(x='80', y='488.5', width='189.2', height='38.5')
			text.str_numb(transform='matrix(1 0 0 1 174.6239 511.2068)') 17
		g
			rect#s19.rect(x='269.2', y='488.5', width='170', height='38.5')
			text.str_numb(transform='matrix(1 0 0 1 345.7919 511.2072)') 19
		g
			rect#s21.rect(x='439.2', y='466.3', width='154.8', height='60.9')
			text.str_numb(transform='matrix(1 0 0 1 514.92 511.207)') 21б
		g
			rect#s20.rect(x='452.7', y='414.9', width='72', height='39.2')
			text.str_numb(transform='matrix(1 0 0 1 484.6048 439.9774)') 20
		g
			rect.rect(id='s22а', x='524.7', y='414.9', width='69.2', height='39.2')
			text.str_numb(transform='matrix(1 0 0 1 548.6494 439.1108)') 22&acy;
		g
			rect#s24.rect(x='594', y='331.8', width='56.2', height='81.9')
			text.str_numb(transform='matrix(1 0 0 1 615.78 372.8117)') 24
		g
			rect.rect(id='s25г', x='594', y='289.5', width='56.2', height='42.4')
			text.str_numb(transform='matrix(1 0 0 1 615.78 316.4488)') 25&gcy;
		g
			rect#_x32_6.rect(x='661.8', y='369.5', width='58.2', height='157.2')
			text.str_numb(transform='matrix(1 0 0 1 682.676 453.1326)') 26
		g
			rect.rect(id='s25д', x='661.8', y='301.2', width='58.2', height='68.3')
			text.str_numb(transform='matrix(1 0 0 1 678.0379 338.6652)') 25&dcy;
		g
			rect.rect(id='s25ж', x='652.7', y='264.7', width='67.3', height='36.5')
			text.str_numb(transform='matrix(1 0 0 1 678.0375 286.2913)') 25&zhcy;
		g
			rect#s16.rect(x='80', y='414.8', width='21.1', height='64.2')
			text.str_numb(transform='matrix(1 0 0 1 83.9443 453.3163)') 16
		g
			rect.rect(x='207.4', y='414.9', width='245.1', height='39.2')
			text.str_numb(transform='matrix(1 0 0 1 310.0347 440.1231)') &Pcy;&ucy;&scy;&tcy;&ucy;&iecy;&tcy;
		rect.st1(x='673.2', y='107.1', width='25', height='15.1')
		path#wrap.st8(d='M594 300.1c0 53.7 0 99.7 0 114.8l-457.2-.1H80v112.4H137l583-.5v-475H594c0 9.9 0 19.8 0 29.7 0 31.7 0 110 0 183.3l-24.6 0V300L594 300.1z')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')