doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Схема этажей Саламат
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500i,700,900' rel='stylesheet')
		link(rel="stylesheet" href="./css/plan.css")
	body
		plan-block
			.tooltip-block
				h3.title 
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			svg#salamat1_2.floor(version='1.1' xmlns='http://www.w3.org/2000/svg' width='800px' height='600px' data-salamat = '1')
				style(type='text/css').
					.st0{fill:#FFB61F;stroke:#FFFFFF;stroke-miterlimit:10;}
					.st1{fill:#7789FF;stroke:#FFFFFF;stroke-miterlimit:10;}
					.st2{fill:#FF9057;stroke:#FFFFFF;stroke-miterlimit:10;}
					.st3{fill:#FFFB64;stroke:#FFFFFF;stroke-miterlimit:10;}
					.st4{fill:#4F4F4F;}
					.st5{font-family:'MyriadPro-Regular';}
					.st6{font-size:15.5516px;}
					.st7{font-size:15.5498px;}
					.st8{font-size:15.5506px;}
					.st9{fill:#88EDBA;stroke:#FFFFFF;stroke-miterlimit:10;}
					.st10{fill:none;stroke:#4F4F4F;stroke-width:2;stroke-miterlimit:10;}
					.st11{font-size:21px;}
					.st12{font-size:14px;}
				rect#s17.st0(x='358.5', y='86', width='137.3', height='102.7')
				rect#s20.st0(x='128.5', y='86', width='44.2', height='102.7')
				rect.st1(x='172.4', y='86', width='44', height='38')
				rect#s24a.st0(x='344.1', y='206.4', width='45.4', height='44.2')
				rect#s25.st0(x='389.5', y='206.4', width='71', height='44.2')
				rect#s26.st0(x='460.5', y='206.4', width='78.6', height='44.2')
				rect#s27a.st0(x='538.2', y='206.4', width='22.2', height='44.2')
				rect#s24.st0(x='312.4', y='206.4', width='31.7', height='44.2')
				rect#s27.st0(x='560.4', y='206.4', width='23.5', height='44.2')
				rect.st1(x='583.9', y='188.7', width='44.9', height='26.9')
				rect.st1(x='543.7', y='256.1', width='45', height='34')
				rect#s56.st0(x='538.2', y='295.6', width='135.6', height='192.7')
				rect.st2(x='152.4', y='93.3', width='20', height='30.6')
				rect#s18.st0(x='289.7', y='86', width='68.8', height='102.7')
				rect#s19.st0(x='225.4', y='86', width='64.3', height='102.7')
				polygon#s19a.st0(points='216.4,86 225.4,86 225.4,188.7 180.7,188.7 180.7,124 216.4,124 ')
				rect#s23.st0(x='252.1', y='206.4', width='60.3', height='44.2')
				rect#s22.st0(x='180.7', y='206.4', width='71.4', height='44.2')
				rect#s21.st0(x='128.5', y='206.4', width='52.2', height='44.2')
				rect.st0(x='185', y='333', width='47.7', height='16.9')
				rect.st3(x='185', y='419.3', width='47.7', height='16.9')
				rect.st2(x='185', y='390.5', width='47.7', height='16.9')
				rect.st1(x='185', y='361.7', width='47.7', height='16.9')
				text.st4.st5.st6(transform='matrix(0.9002 0 0 1 247.81 345.9915)') &Bcy;&ucy;&tcy;&icy;&kcy;&icy;
				text.st4.st5.st7(transform='matrix(0.9003 0 0 1 247.8102 432.2738)') &Tcy;&ucy;&acy;&lcy;&iecy;&tcy;
				text.st4.st5.st8(transform='matrix(0.9003 0 0 1 247.81 403.514)') &Lcy;&icy;&fcy;&tcy;
				text.st4.st5.st8(transform='matrix(0.9003 0 0 1 247.8102 374.7523)') &Lcy;&iecy;&scy;&tcy;&ncy;. &pcy;&rcy;&ocy;&lcy;&iecy;&tcy;
				rect.st9(x='185', y='448', width='47.7', height='16.9')
				text.st4.st5.st7(transform='matrix(0.9003 0 0 1 247.8102 461.0344)') &Tcy;&iecy;&khcy;. &pcy;&ocy;&mcy;&iecy;&shchcy;&iecy;&ncy;&icy;&iecy;
				g#s16
					rect#s16a.st0(x='495.8', y='86', width='52.4', height='102.7')
					rect#s16b.st0(x='548.2', y='86', width='125.7', height='76')
				rect.st2(x='618.7', y='144.6', width='47.4', height='17.5')
				polygon.st9(points='652,144.6 652,105 673.9,105 673.9,162.1 666.1,162 666.1,144.6 ')
				rect#s28.st0(x='628.8', y='215.5', width='45', height='35.1')
				rect#s28a.st0(x='583.9', y='215.5', width='44.9', height='35.1')
				polygon.st10(points='128.5,86 673.9,86 673.8,488.2 538.2,488.2 538.2,250.6 128.5,250.6 ')
				text(transform='matrix(1 0 0 1 378.423 41.2871)')
					tspan.st4.st5.st11(x='0', y='0') &Scy;&acy;&lcy;&acy;&mcy;&acy;&tcy; 1
					tspan.st4.st5.st11(x='0', y='25.2') 2 &ecy;&tcy;&acy;&zhcy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 606.3668 124.0128)') 16&bcy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 427.1581 233.0584)') 25
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 499.8362 233.0587)') 26
				g
					text.st4.st5.st12(transform='matrix(3.280000e-03 1 -1 3.280000e-03 545.5933 218.354)') 27&acy;
				g
					text.st4.st5.st12(transform='matrix(0 1 -1 0 567.7808 220.1678)') 27
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 599.6713 236.6334)') 28&acy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 644.041 236.6332)') 28
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 144.8841 156.839)') 20
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 194.3997 156.8391)') 19&acy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 257.5582 123.9826)') 19
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 324.1029 124.0133)') 18
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 427.1581 124.0132)') 17
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 515.5968 123.9824)') 16&acy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 154.6005 233.0584)') 21
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 216.4145 233.0584)') 22
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 277.974 233.0581)') 23
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 320.8349 233.0585)') 24
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 362.5506 233.0585)') 24&acy;
				g
					text.st4.st5.st12(transform='matrix(1 0 0 1 606 391.9145)') 56
	script(src='./js/plan.js')
