extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 5
				h3.floor-title второй этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
				svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' x="0px" y="0px" viewBox="0 0 800 600" data-salamat='5')
					style(type='text/css').
						.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
						.boutique:hover .str_numb{fill:#FFFFFF}
						.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
						.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
						.st0{fill:#CDF9E0;}
						.st1{fill:#FAB4FC;}
						.st2{fill:#B2DBF7;}
						.st7{fill:none;stroke:#4F4F4F;stroke-miterlimit:10;}
						.st8{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
					rect.st0(x='613.4', y='459.2', width='32', height='55.9')
					rect.st1(x='625.1', y='459.2', width='20.3', height='14.9')
					rect.st0(x='645.5', y='474.1', width='24.2', height='41.2')
					rect.st2(x='120.6', y='424.6', width='15.7', height='28.4')
					rect.st2(x='669.6', y='496.8', width='11.7', height='18.6')
					rect.st2(x='692.7', y='95.4', width='25', height='15.1')
					g
						rect.rect(id='s8б', x='156.3', y='474.9', width='79.4', height='40.6')
						text.str_numb(transform='matrix(1 0 0 1 191.2059 497.4602)') 8&bcy;
					g
						rect.rect(id='s8а', x='156.3', y='403.1', width='79.4', height='64.2')
						text.str_numb(transform='matrix(1 0 0 1 191.206 438.8271)') 8&acy;
					g
						rect#s9.rect(x='235.7', y='403.1', width='56', height='112.4')
						text.str_numb(transform='matrix(1 0 0 1 263.6861 462.8123)') 9
					g
						rect.rect(id='s9а', x='291.7', y='403.1', width='167', height='112.4')
						text.str_numb(transform='matrix(1 0 0 1 371.4844 462.8124)') 9&acy;
					g
						rect#s10.rect(x='458.7', y='445.5', width='154.8', height='69.5')
						text.str_numb(transform='matrix(1 0 0 1 536.0629 479.7835)') 10
					g
						rect#s11.rect(x='458.7', y='403', width='154.8', height='35.8')
						text.str_numb(transform='matrix(1 0 0 1 536.0631 420.9043)') 11
					g
						rect#s12.rect(x='681.3', y='430.3', width='58.2', height='84.6')
						text.str_numb(transform='matrix(1 0 0 1 707.8704 479.7832)') 12
					g
						rect.rect(id='s12а', x='681.3', y='403', width='58.2', height='27.3')
						text.str_numb(transform='matrix(1 0 0 1 703.7716 420.9042)') 12&acy;
					g
						rect.rect(id='s11б', x='613.4', y='403', width='56.2', height='27.3')
						text.str_numb(transform='matrix(1 0 0 1 632.7501 420.9039)') 11&bcy;
					g
						rect.rect(x='681.3', y='350.9', width='58.2', height='52.1')
						rect.rect(x='613.4', y='350.9', width='56.2', height='52.1')
						text.str_numb(transform='matrix(1 0 0 1 703.7716 379.8371)') 13&dcy;
						text.str_numb(transform='matrix(1 0 0 1 632.7498 379.8375)') 13&dcy;
					g
						rect.rect(id='s14б', x='613.4', y='288.4', width='56.2', height='25.4')
						text.str_numb(transform='matrix(1 0 0 1 632.7502 305.83)') 14&bcy;
					g
						polygon.rect(id='s14а', points='681.3,313.8 681.3,288.4 672.2,288.4 672.2,252.9 739.4,252.9 739.4,313.8 	')
						text.str_numb(transform='matrix(1 0 0 1 703.7718 283.3431)') 14&acy;
					g
						rect#s14.rect(x='692.7', y='95.4', width='46.7', height='157.6')
						text.str_numb(transform='matrix(1 0 0 1 710.3585 181.6816)') 14
					g
						rect.rect(id='s8в', x='99.5', y='403.1', width='21.1', height='64.2')
						text.str_numb(transform='matrix(1 0 0 1 103.4231 438.8205)') 8&vcy;
					g
						rect#salon13b-2.rect(x='681.3', y='313.8', width='58.2', height='37.1')
						rect#salon13b-1.rect(x='613.4', y='313.8', width='56.2', height='37.1')
						text.str_numb(transform='matrix(1 0 0 1 632.7499 337.0588)') 13&gcy;
						text.str_numb(transform='matrix(1 0 0 1 703.7717 337.0587)') 13&gcy;
					g
						polygon#s13.rect(points='613.4,430.3 669.6,430.3 669.6,474.1 645.5,474.1 645.5,459.2 613.4,459.2 	')
						text.str_numb(transform='matrix(1 0 0 1 635.2679 448.2835)') 13
					g
						line.st7(x1='565.1', y1='271', x2='597.9', y2='271')
						line.st7(x1='589.3', y1='277.7', x2='597.9', y2='271')
						line.st7(x1='597.9', y1='271', x2='589.3', y2='264.3')
					g
						rect.rect(x='99.5', y='467.3', width='56.8', height='48.2')
						text.str_numb(transform='matrix(1 0 0 1 125.9223 497.4601)') 8
					polyline.rect(points='120.6,424.6 136.3,424.6 136.3,467.3 ')
					g
						polygon.rect(points='739.4,95.4 692.7,95.4 692.7,252.9 613.4,252.9 613.4,40 739.4,40 	')
						text.str_numb(transform='matrix(1 0 0 1 654.0092 146.449)') 15
					path.st8(d='M156.4 515.5l583-.5V40h-126c0 9.9 0 19.8 0 29.7 0 31.7 0 110 0 183.3l0-213h126v55.4')
					path.st8(d='M613.4 252.9v35.4c0 53.7 0 99.7 0 114.8l-457.2-.1')
					polyline.st8(points='156.3,403 99.5,403 99.5,515.4 156.3,515.4 ')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')