extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 1
				h3.floor-title первый этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										i.floor-arrow.fa.fa-angle-down(aria-hidden="true")
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
					.floor-labels-block
						.floor-labels-header
							h3.floor-labels-header-title Обозначения
						.boutiques-label.item-label
							.boutiques-rect.label-rect
							span.label-item-span Бутики
						.stairs-label.item-label
							.stairs-rect.label-rect
							span.label-item-span Лестница
						.elevator-label.item-label
							.elevator-rect.label-rect
							span.label-item-span Лифт
						.wc-label.item-label
							.wc-rect.label-rect
							span.label-item-span Туалет
						.utility-room-label.item-label
							.utility-rect.label-rect
							span.label-item-span Тех. помещение
				svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' x="0px" y="0px" viewBox="0 0 800 600" data-salamat='4')
					style(type='text/css').
						.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
						.boutique:hover .str_numb{fill:#FFFFFF}
						.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
						.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
						.st0{fill:#B2DBF7;}
						.st5{font-size:10px;}
						.st6{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
					rect.st0(x='415', y='356.6', width='71.8', height='12.4')
					rect.st0(x='264.1', y='356.6', width='69.9', height='12.4')
					g
						rect#s45.rect(x='464.1', y='285.2', width='58.9', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 486.8304 327.095)') 45
					g
						rect#s46.rect(x='538.3', y='327.1', width='52.3', height='41.9')
						text.str_numb(transform='matrix(1 0 0 1 557.8153 350.1592)') 46
					g
						rect.rect(id='s46а', x='538.3', y='285.2', width='52.3', height='41.9')
						text.str_numb(transform='matrix(1 0 0 1 555.9537 311.381)') 46&acy;
					g
						rect#s47.rect(x='590.6', y='285.2', width='58.2', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 613.2783 327.0969)') 47
					g
						rect#s48.rect(x='648.8', y='285.2', width='56.7', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 671.7313 327.0972)') 48
					g
						rect.rect(id='s48а', x='705.6', y='285.2', width='56.4', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 724.6193 327.0952)') 48&acy;
					g
						rect#s36.rect(x='38', y='215.1', width='66.2', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 63.5226 238.6006)') 36
					g
						rect#s35.rect(x='104.2', y='215', width='65.9', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 132.5135 238.5)') 35
					g
						rect#s34.rect(x='170.1', y='215', width='62.7', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 195.5506 238.6008)') 34
					g
						rect#s33.rect(x='232.8', y='215', width='58', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 256.7081 238.6006)') 33
					g
						rect#s32.rect(x='290.9', y='215', width='76.2', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 323.539 238.6008)') 32
					g
						rect#s31.rect(x='367.1', y='215', width='57.2', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 389.3754 238.6006)') 31
					g
						rect#s30.rect(x='424.3', y='215', width='47.1', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 442.0792 238.5)') 30
					g
						rect#s29.rect(x='471.4', y='215', width='46', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 488.4671 238.6006)') 29
					g
						rect#s28.rect(x='517.4', y='215', width='42.6', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 532.9271 238.6006)') 28
					g
						rect#s27.rect(x='560', y='215', width='38.5', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 573.5541 238.6004)') 27
					g
						rect#s26.rect(x='598.5', y='215', width='42.1', height='47.1')
						text.str_numb(transform='matrix(1.0857 0 0 1 613.248 238.5)') 26
					g
						rect#s25.rect(x='640.6', y='215', width='36.8', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 652.9652 238.5002)') 25
					g
						rect#s24.rect(x='677.2', y='215.1', width='31.9', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 687.2026 238.6006)') 24
					g
						rect#s59.rect(x='506.3', y='359.4', width='32.1', height='9.6')
						text.st2.st3.st5(transform='matrix(1 0 0 1 517.3912 367.37)') 59
					g
						rect#s54.rect(x='218.5', y='359.5', width='32.1', height='9.4')
						text.st2.st3.st5(transform='matrix(1 0 0 1 229.4052 367.3259)') 54
					g
						rect#s37.rect(x='38', y='285.2', width='54.9', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 60.5224 327.0967)') 37
					g
						rect#s38.rect(x='92.9', y='285.2', width='42.6', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 108.088 327.0964)') 38
					g
						rect#s39.rect(x='135.6', y='285.2', width='48', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 153.9998 327.0962)') 39
					g
						rect#s40.rect(x='183.5', y='285.2', width='35', height='83.8')
						text.str_numb(transform='matrix(1 0 0 1 194.8035 327.0952)') 40
					g
						rect#s41.rect(x='235.7', y='285.2', width='54.8', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 257.6147 327.0957)') 41
					g
						rect#s42.rect(x='290.9', y='285.2', width='67.2', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 321.4589 327.0952)') 42
					g
						rect#s44.rect(x='414.3', y='285.2', width='49.7', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 433.2958 327.0952)') 44
					g
						rect.rect(x='358.1', y='285.2', width='27.5', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 361.9445 327.0947)') 43&acy;
					g
						rect.rect(x='709.1', y='215', width='22.9', height='47.1')
						rect.rect(x='732', y='215.1', width='30', height='47.1')
						text.str_numb(transform='matrix(1 0 0 1 740.5447 238.5)') 23
						text.str_numb(transform='matrix(1 0 0 1 714.3809 238.5002)') 23
					g
						rect.rect(x='385.7', y='285.2', width='28.7', height='71.4')
						text.str_numb(transform='matrix(1 0 0 1 392.287 317.6164)') 43
						text.str_numb(transform='matrix(1 0 0 1 389.3753 338.3958)') 43&bcy;
					polyline.st6(points='334,369 38,369 38,215.1 762,215.1 762,369 415,369 ')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')