extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 3
				h3.floor-title цокольный этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										i.floor-arrow.fa.fa-angle-down(aria-hidden="true")
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
					.floor-labels-block
						.floor-labels-header
							h3.floor-labels-header-title Обозначения
						.boutiques-label.item-label
							.boutiques-rect.label-rect
							span.label-item-span Бутики
						.stairs-label.item-label
							.stairs-rect.label-rect
							span.label-item-span Лестница
						.elevator-label.item-label
							.elevator-rect.label-rect
							span.label-item-span Лифт
						.wc-label.item-label
							.wc-rect.label-rect
							span.label-item-span Туалет
						.utility-room-label.item-label
							.utility-rect.label-rect
							span.label-item-span Тех. помещение
				svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' x="0px" y="0px" viewBox="0 0 800 600" data-salamat='3')
					style(type='text/css').
						.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
						.boutique:hover .str_numb{fill:#FFFFFF}
						.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
						.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
						.st0{fill:#B2DBF7;}
						.st3{font-size:15.5516px;}
						.st6{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
					rect.st0(x='485.4', y='220.5', width='25.9', height='29.6')
					text.st1.st2.st3(transform='matrix(0.9002 0 0 1 658.9366 294.5428)') &Scy;&kcy;&lcy;&acy;&dcy;&ycy;
					g
						rect#s47.rect(x='35.3', y='220.5', width='94.8', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 75.5825 249.1004)') 47
					g
						rect#s54.rect(x='511.2', y='220.5', width='60.8', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 536.8251 249.1004)') 54
					g
						rect#s53.rect(x='420.3', y='220.5', width='65', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 445.0045 249.1003)') 53
					g
						rect#s51.rect(x='334.4', y='220.5', width='44.4', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 350.8731 249.1)') 51
					g
						rect#s50.rect(x='267.1', y='220.5', width='67.2', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 295.5529 249.1003)') 50
					g
						rect#s49.rect(x='196.2', y='220.5', width='70.9', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 227.2156 249.1)') 49
					g
						rect#s48.rect(x='130.1', y='220.5', width='66.1', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 156.6199 249.1)') 48
					g
						rect#s52.rect(x='378.8', y='220.5', width='41.6', height='46.2')
						text.str_numb(transform='matrix(1 0 0 1 394.107 249.0999)') 52
					g
						rect#s55.rect(x='467.7', y='286.6', width='132.9', height='81.9')
						text.str_numb(transform='matrix(1 0 0 1 527.447 334.0085)') 55
					g
						rect#s56.rect(x='356.6', y='286.6', width='111.1', height='81.9')
						text.str_numb(transform='matrix(1 0 0 1 406.6873 334.0085)') 56
					g
						rect#s62.rect(x='291.5', y='318.2', width='42.9', height='31.6')
						text.str_numb(transform='matrix(1 0 0 1 307.1667 338.0321)') 62
					g
						rect#s61.rect(x='248.7', y='318.2', width='42.9', height='31.6')
						text.str_numb(transform='matrix(1 0 0 1 264.0815 338.0321)') 61
					g
						rect#s57.rect(x='248.7', y='286.6', width='85.7', height='31.6')
						text.str_numb(transform='matrix(1 0 0 1 285.3207 307.7572)') 57
					g
						g#s58-59
							rect#s58.rect(x='189.7', y='286.6', width='58.9', height='63.2')
							rect#s59.rect(x='130.1', y='286.6', width='59.6', height='63.2')
						text.str_numb(transform='matrix(1 0 0 1 214.3212 322.5897)') 58
						text.str_numb(transform='matrix(1 0 0 1 156.6198 322.5897)') 59
					g
						rect#s46-60_1_.rect(x='35.3', y='286.6', width='94.8', height='63.2')
						text.str_numb(transform='matrix(1 0 0 1 57.7294 322.59)') 46
						text.str_numb(transform='matrix(1 0 0 1 94.1152 322.5902)') 60
					rect.st6(x='35.3', y='220.5', width='729', height='148')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')