extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.content-wrapper
		.plan-container
			.floor-plan-header
				h2.salamat-title Саламат 5
				h3.floor-title первый этаж
			.tooltip-block
				h3.title
				ul.tooltip-list
					li.tooltip-list-item-salamat.tooltip-item
					li.tooltip-list-item-boutique.tooltip-item
				.tooltip-button.tooltip-item Перейти
			.plan-wrapper.clearfix
				.plan-controller
					.floor-selection-block
						.floor-selection-header
							h3.selet-floor-title Выберите этаж:
						.floor-selection-content
							ul.tc-selection
								each tc in tcs
									li.tc-item= tc.tcname
										ul.floor-selection
											each floor in tc.floors
												li.floor-item
													a.link.floor-item-link(href= floor.link)= floor.floor
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' data-salamat='5')
		style(type='text/css').
			.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.boutique:hover .str_numb{fill:#FFFFFF}
			.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
			.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}
			.st0{fill:#CDF9E0;}
			.st1{fill:#FAB4FC;}
			.st2{fill:#B2DBF7;}
			.st3{fill:none;stroke:#4F4F4F;stroke-miterlimit:10;}
			.st8{fill:none;stroke:#000000;stroke-miterlimit:10;}
			.st9{fill:none;stroke:#484848;stroke-width:2;stroke-miterlimit:10;}
		rect.st0(x='613.4', y='459.2', width='26.8', height='55.9')
		rect.st1(x='623.2', y='459.2', width='17.1', height='15')
		rect.st0(x='640.3', y='474.1', width='27.6', height='41.2')
		rect.st2(x='120.6', y='433.2', width='15.7', height='19.8')
		g
			line.st3(x1='568.9', y1='55.2', x2='601.8', y2='55.2')
			line.st3(x1='593.2', y1='61.9', x2='601.8', y2='55.2')
			line.st3(x1='601.8', y1='55.2', x2='593.2', y2='48.5')
		g
			rect.rect(id='s6г', x='684.1', y='105.1', width='55.3', height='33')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5303 125.1175)') 6&gcy;
		g
			rect.rect(id='s5а', x='613', y='306.6', width='54.9', height='45.8')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2845 332.2874)') 5&acy;
		g
			rect.rect(id='s5б', x='613', y='257.2', width='54.9', height='49.4')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2848 285.2891)') 5&bcy;
		g
			rect.rect(id='s5г', x='613', y='213.2', width='54.9', height='44')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2845 240.1043)') 5&gcy;
		g
			rect#s6.rect(x='613', y='175.1', width='54.9', height='38')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2845 197.6169)') 6
		g
			rect.rect(id='s6а', x='613', y='138', width='54.9', height='37.1')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2845 159.1094)') 6&acy;
		g
			rect.rect(id='s6в', x='613', y='105.1', width='54.9', height='33')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2845 125.1174)') 6&vcy;
		g
			rect.rect(id='s7а', x='684.1', y='40', width='55.3', height='65.1')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5303 75.6335)') 7&acy;
		g
			rect#s7.rect(x='667.9', y='40', width='16.3', height='65.1')
			g
				text.str_numb(transform='matrix(1 0 0 1 673.1403 75.6335)') 7
		g
			rect.rect(id='s4а', x='684.1', y='445.9', width='55.3', height='68.9')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5302 485.3868)') 4&acy;
		g
			rect.rect(id='s27а', x='99.5', y='416', width='21.1', height='51.3')
			g
				text.str_numb(transform='matrix(0 -1 1 0 115.3605 452.3242)') 27&acy;
		g
			rect#s1.rect(x='156.3', y='403.1', width='457.2', height='112.2')
			g
				text.str_numb(transform='matrix(1 0 0 1 381.5903 459.1737)') 1
		g
			polygon#s3.rect(points='613.4,459.1 640.3,459.1 640.3,474.1 667.9,474.1 667.9,403.1 613.4,403.1 	')
			g
				text.str_numb(transform='matrix(1 0 0 1 638.2839 438.5741)') 3
		g
			rect#s2.rect(x='99.5', y='467.3', width='56.8', height='35')
			g
				text.str_numb(transform='matrix(1 0 0 1 124.317 489.6717)') 2
		g
			rect.rect(id='s4б', x='684.1', y='352.4', width='55.3', height='93.5')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5306 403.0806)') 4&bcy;
		g
			rect.rect(id='s5в', x='684.1', y='213.2', width='55.3', height='139.2')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5303 285.2891)') 5&vcy;
		g
			rect.rect(id='s6б', x='684.1', y='175.1', width='55.3', height='38')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5303 197.6167)') 6&bcy;
		g
			rect.rect(id='s6д', x='684.1', y='138', width='55.3', height='37.1')
			g
				text.str_numb(transform='matrix(1 0 0 1 708.5303 159.1092)') 6&dcy;
		g
			rect.rect(x='613', y='68.8', width='42.4', height='36.2')
			g
				text.str_numb(transform='matrix(1 0 0 1 628.0755 91.6966)') 7&vcy;
		g
			g
				text.str_numb(transform='matrix(1 0 0 1 654.2201 372.843)') 4
			rect#s4.rect(x='645.7', y='352.4', width='22.2', height='29.5')
		g
			line.st3(x1='568.9', y1='377.7', x2='601.8', y2='377.7')
			line.st3(x1='593.2', y1='384.4', x2='601.8', y2='377.7')
			line.st3(x1='601.8', y1='377.7', x2='593.2', y2='371')
		line.rect(x1='667.9', y1='381.9', x2='667.9', y2='403.1')
		rect#wrap2.st8(x='99.5', y='416', width='56.8', height='86.4')
		polygon#wrap1.st8(points='120.6,416 120.6,433.2 136.3,433.2 136.3,467.3 156.3,467.3 156.3,416 ')
		polyline#wrap.st9(points='613.4,69.6 613.4,403.2 156.3,403.1 156.3,431.5 156.3,497.8 156.4,515.5 739.4,515 \
		739.4,40 613.4,40 ')
block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')