extends layout.pug
block css
	link(rel="stylesheet" href="./css/plan.css")
block content
	.floor-plan-header
		h2.salamat-title Саламат 3
		h3.floor-title второй этаж
	.tooltip-block
		h3.title
		ul.tooltip-list
			li.tooltip-list-item-salamat.tooltip-item
			li.tooltip-list-item-boutique.tooltip-item
		.tooltip-button.tooltip-item Перейти
	svg.floor(version='1.1', xmlns='http://www.w3.org/2000/svg', width='800px', height='600px' data-salamat='3')
		style(type='text/css').
			.boutique:hover .rect{fill:rgba(255, 128, 128, .45);cursor:pointer}
			.boutique:hover .str_numb{fill:#FFFFFF}
			.rect{fill:rgba(255, 255, 255, .1);stroke:#FF7F66;stroke-miterlimit:10;}
			.str_numb{fill:#4F4F4F;font-family:'Roboto';font-size:14px;user-select:none;cursor:pointer;}

block scripts
	script(src='./js/findGroups.js')
	script(src='./js/plan.js')