.page-boutiques-wrap{
	background: #fff;
	padding-top: 50px;
}
.page-boutiques-container{
	width: 960px;
	margin: 0 auto;
	padding: 30px;
}
.boutiques-page-block{

}
.sidebar{
	float: left;
	width: 22%;
	margin-right: 20px;
}
	.filter-block{
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		padding: 10px;
	}
		.filter-block-header{
			padding-bottom: 10px;
			/*border-bottom: 1px solid #e0e0e0;*/
		}
			.filter-title{
				color: inherit;
			}
			.clean-filter-block{
				float: right;
			}
				.clean-filter{
					margin-left: 3px;
					color: #0084B4;
					font-weight: 400;
					font-size: 12px;
				}
		.filter-block-body{

		}
			.filtered-items{
			}
				.filtered-item{
					color: #666;
				}
				.grand{
					padding-left: 0;
				}
				.parent{
					padding-left: 5px;
				}
				.category{
					padding-left: 15px;
				}
					.filtered-item-title{
						margin-left: 3px;
						color: inherit;
					}
.boutiques-content{
	float: left;
	width: calc(78% - 20px);
}
	.boutiques-block-items{
		background: whitesmoke;
		border: 1px solid #ededed;
		border-radius: 4px;
	}
		.boutiques-block-item{
			position: relative;
			padding: 20px;
			border-bottom: 1px solid #e0e0e0;
		}
		.boutiques-block-item:hover{
			background: #fff;
		}
			.boutiques-item-content{

			}
				.boutiques-item-content-logo{
					width: 100px;
					height: 100px;
					margin-right: 15px;
					float: left;
				}
					.boutique-img-logo{
						width: 100%;
						height: auto;
					}
				.boutiques-item-content-body{
					width: calc(100% - 115px);
					float: left;
				}
					.boutiques-content-header{

					}
						.boutique-name{
							float: left;
						}
							.boutique-title{
								font-size: 16px;
								font-weight: 500;
								color: #333;
							}
						.boutique-show{
							float: right;
						}
							.boutique-show-span{
								font-size: 12px;
								font-weight: 200;
								color: #666666;
							}
							.link-boutique-arrow{
								margin-left: 5px;
								font-size: 12px;
								color: #666666;
							}
					.boutiques-content-body{
						padding-top: 20px;
					}
						.boutique-description{

						}
							.boutique-about-title{
								font-weight: 200;
								font-size: 14px;
								color: #484848;
							}
							.boutique-about-text{
								font-weight: 200;
								font-size: 14px;
								color: #666666;
							}
			.boutiques-item-foooter{
			
			}
				.boutiques-item-foooter-icons{
					float: left;
					margin-right: 15px;
				}
				.boutiques-item-foooter-body{
					
				}
					.boutique-item-search-path{
						float: left;
					}
					.boutique-item-location{
						float: right;
					}
						.bot-item-span{
							margin-right: 15px;
							font-size: 12px;
							color: #666666;
							font-weight: 200;
						}
						.boutique-item-label{
							margin-right: 5px;
						}
						.boutique-item-salamat{
				
						}
						.boutique-item-salon{

						}
						.boutique-item-map-link{
							margin-right: 0;
							color: #4da2d8;
							cursor: pointer;
						}
						.boutique-item-map-link:hover{
							color: #78c8fb;
						}


	.boutiques-block-pages{
		margin-top: 20px;
		padding: 20px;
	}
		.pages-panel{
			position: relative;
			text-align: center;
		}
			.pages{
				display: inline-block;
				margin: 0 auto;
			}
				.page-item{
					cursor: pointer;
					width: 25px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background: #d64242;
					background-image: linear-gradient(to left top, rgba(243, 122, 101, 0) 0, #f37a65);
					color: #fff;
					float: left;
				}
				.active-page{
					background: #fff;
					color: #f77c7c;
					border: 1px solid #f77c7c;
				}
				.page-item:hover{
					background: #f77c7c;
				}
				.page-item:nth-child(1){
					border-radius: 3px 0 0 3px;
				}
				.page-item:nth-last-child(1){
					border-radius: 0 3px 3px 0;
				}