	.page-boutique-wrap{
		background: #fff;
		padding-top: 50px;
	}
		.page-boutique-container{
			width: 960px;
			margin: 0 auto;
			padding: 0 30px;
		}
			.boutique-page-block{
				
			}
				.boutique-profile-block{
					width: 20%;
					float: left;
					margin-right: 20px;
					border: 1px solid #e0e0e0;
					border-radius: 4px;
				}
					.profile-logo-block{
						padding: 15px;
					}
						.profile-logo-img{
							width: 100%;
							height: auto;
						}
					.profile-tags-block{

					}
				.boutique-content-block{
					width: calc(80% - 20px);
					float: left;
					border: 1px solid #e0e0e0;
					border-radius: 4px;
					padding: 20px;
				}
					.boutique-content-header{

					}
						.boutique-name{
				
						}
							.boutique-name-title{
								font-size: 25px;
								font-weight: 200;
								color: #333;
							}
					.boutique-content-body{
						margin-top: 30px;
					}
						.boutique-content-list{

						}
							.boutique-info-list{

							}
								.boutique-info-list-item{
									padding: 10px 0;
								}
									.field-span{
										font-weight: 200;
										font-size: 14;
									}
									.boutique-info-label-span{
										color: #484848;
										font-weight: 400;
									}
									.boutique-info-value-span{
										color: #666666;
										margin-left: 10px;
									}
					.boutique-content-decription{
						margin-top: 30px;
					}
						.boutique-decription-title{
							font-size: 20px;
							padding-bottom: 15px;
							font-weight: 200;
							border-bottom: 1px solid #e0e0e0;
						}
						.boutique-description-text{
							margin-top: 15px;
							font-size: 14px;
							font-weight: 200;
							color: #666666;
						}
					.boutique-content-photos{
						margin-top: 30px;
					}
						.boutique-photos-header{

						}
							.photos-header-title{
								font-size: 20px;
								padding-bottom: 15px;
								font-weight: 200;
								border-bottom: 1px solid #e0e0e0;
							}
						.boutique-photos-items{

						}
							.boutique-photos-item{
								float: left;
								margin-right: 20px;
								margin-top: 15px;
							}
							.boutique-photos-item:nth-last-child(1){
								margin-right: 0;
							}
								.boutique-photo-img{
									width: 128px;
									height: auto;
								}


