.page-content-wrap{
	background: #fff;
}
.page-boutiques-container{
	width: 960px;
}
.boutiques-page-block{
	margin-top: 40px;
}
.sidebar{
	float: left;
	width: 22%;
	margin-right: 20px;
}
	.filter-block{
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		padding: 10px;
	}
		.filter-block-header{
			padding-bottom: 10px;
			/*border-bottom: 1px solid #e0e0e0;*/
		}
			.filter-title{
				color: inherit;
			}
			.clean-filter-block{
				float: right;
			}
				.clean-filter{
					margin-left: 3px;
					color: #0084B4;
					font-weight: 400;
					font-size: 12px;
				}
		.filter-block-body{

		}
			.filtered-items{
			}
				.filtered-item{
					color: #666;
				}
				.grand{
					padding-left: 0;
				}
				.parent{
					padding-left: 5px;
				}
				.category{
					padding-left: 15px;
				}
					.filtered-item-title{
						margin-left: 3px;
						color: inherit;
					}
.boutiques-content{
	float: left;
	width: calc(78% - 20px);
}
	.boutiques-block-items{
		background: whitesmoke;
		border: 1px solid #ededed;
		border-radius: 4px;
	}
		.boutiques-block-item{
			position: relative;
			padding: 20px;
			border-bottom: 1px solid #f1f1f1;
		}
		.boutiques-block-item:hover{
			background: #fff;
		}
			.boutiques-item-content{
		}
/*				height: 100px;*/
			}
				.boutiques-item-content-logo{
					width: 15%;
					margin-right: 15px;
				}
					.boutique-img-logo{
						width: 100%;
						height: auto;
					}
				.boutiques-item-content-body{
					width: calc(85% - 15px);
				}
					.boutiques-content-header{

					}
						.boutique-name{
							float: left;
						}
						.boutique-show{
							float: right;
						}
					.boutiques-content-body{

					}
						.boutique-description{

						}
			.boutiques-item-foooter{
			
			}
				.boutiques-item-foooter-icons{
					float: left;
					margin-right: 15px;
				}
				.boutiques-item-foooter-body{
					
				}
					.boutique-item-search-path{
						float: left;
					}
					.boutique-item-location{
						float: right;
					}
						.bot-item-span.boutique-item-salamat{

						}
						.bot-item-span.boutique-item-salon{

						}
						.bot-item-span.boutique-item-map-link{

						}


	.boutiques-block-pages{
		margin-top: 20px;
		padding: 20px;
	}
		.pages-panel{
			position: relative;
			text-align: center;
		}
			.pages{
				display: inline-block;
				margin: 0 auto;
			}
				.page-item{
					cursor: pointer;
					width: 25px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background: #d64242;
					background-image: linear-gradient(to left top, rgba(243, 122, 101, 0) 0, #f37a65);
					color: #fff;
					float: left;
				}
				.active-page{
					background: #fff;
					color: #f77c7c;
					border: 1px solid #f77c7c;
				}
				.page-item:hover{
					background: #f77c7c;
				}
				.page-item:nth-child(1){
					border-radius: 3px 0 0 3px;
				}
				.page-item:nth-last-child(1){
					border-radius: 0 3px 3px 0;
				}