*{
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #484848;
	box-sizing: border-box;
}
title{
	display: none;
}

.page-content{

}
	.company-about-block{
		padding: 40px;
	}
		.about-block-header{
			text-align: center;
			font-size: 26px;
			font-weight: 200;
			margin-bottom: 50px;
		}
		.about-block-body{
			width: 65%;
			margin: 0 auto;
		}
			.history-block-text{
				font-size: 15px;
				font-weight: 200;
				margin-bottom: 20px
			}
	.buildings-block{
		margin-top: 40px;
	}
		.buildings-block-items{
		
		}
			.buildings-block-item{
				margin-right: 60px;
				width: calc((100% - 120px) / 3);
				float: left;
			}
			.buildings-block-item:nth-last-child(1){
				margin-right: 0;
			}
			.bg-buildings-block-item{
				height: 200px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
				.bg-buildings-block-item-hover{
					position: relative;
					height: 100%;
					background-color: rgba(0,0,0, 0.4);
				}
					.bg-buildings-block-item-header{
						position: absolute;
						height: 50px;
						bottom: 0;
						left: 0;
						width: 100%;
						background-color: rgba(0,0,0,0.7);
					}
						.bg-buildings-block-item-header__title{
							font-size: 16px;
							font-weight: 700;
							color: #fff;
							padding-left: 20px;
							line-height: 50px;
						}
			.text-buildings-block-item{
				background: #fff;
				padding: 30px;
			}
				.text-buildings-block-item__header{
					color: #484848;
					font-weight: 700;
					font-size: 16px;
					margin-bottom: 20px;
				}
				.text-buildings-block-item__body{
					font-weight: 200;
					font-size: 14px
				}
			.royal{
				background-image: url(../img/royaltulip.jpg);
			}
			.grandballroom{
				background-image: url(../img/grandballroom.jpg);
			}
			.stoletovo{
				background-image: url(../img/stoletovo.jpg);
			}
.page-footer{
	
}
