*{
	padding: 0;
	margin: 0;
	display: block;
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #484848;
	box-sizing: border-box;
}
a{
	cursor: pointer;
	text-decoration: none;
}
title{
	display: none;
}
.page-header{
	position: relative;
	height: 500px;
	background-image: url('../img/services.jpg');
	background-repeat: no-repeat;
	background-size: cover;		
	background-position: center;
}
	.page-header-hover{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
	}
	.top-nav-menu{
		padding: 10px 0;
		padding-top: 0;
	}
		.top-nav-menu-container{
			width: 960px;
			background: transparent;
			padding-left: 30px;
			padding-right: 30px;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
			border: 1px solid #fff;
			border-top: 0;
			border-radius: 0 0 4px 4px;
		}
			.top-nav-menu-logo{
				float: left;
			}
				.company-title{
					font-size: 30px;
					font-weight: 200;
					color: #fff;
					line-height: 40px;
				}
					
			.top-nav-menu-links{
				float: right;
			}
				.top-nav-menu-link{
					margin-right: 20px;
					float: left;
					line-height: 40px;
					color: #fff;

				}
				.top-nav-menu-link:nth-last-child(1){
					margin-right: 0;
				}
	.header-panel{
		margin-top: 150px;
		text-align: center;
	}
		.header-panel-title{
			font-size: 50px;
			font-weight: 300;
			color: #fff;
			text-align: center;
		}
		.header-panel-text{
			font-size: 30px;
			font-weight: 400;
			color: #fff;
			text-align: center;
		}
		.contact-button{
			color: #fff;
			display: inline-block;
			font-weight: 400;
			margin-top: 40px;
			border-radius: 4px;
			text-align: center;
			background: #d64242;
			background-image: -webkit-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
			background-image: -o-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
			background-image: linear-gradient(to top left, rgba(243, 122, 101, 0) 0%, #f37a65);
			padding: 15px 25px;
		}
.page-content{
	padding-top: 30px;
}
	.company-history-block{

	}
		.company-history-block-container{
			width: 650px;
			padding: 30px;
			margin: 0 auto;
		}
			.company-history-block-title{
				font-size: 30px;
				font-weight: 300;
				color: #484848;
			}
			.company-history-block-body{
				margin-top: 30px;
			}
				.body-text{
					line-height: 1.5em;
					font-size: 15px;
					font-weight: 400;
					color: #333;
				}
	.services-block{
		
	}
		.services-block-container{
			width: 650px;
			padding: 30px;
			margin: 0 auto;
		}
			.services-block-title{
				font-size: 25px;
				font-weight: 300;
				color: #484848;
			}
			.services-block-body{
				margin-top: 30px;
			}
				.services-block-list{
					list-style-type: disc;
					padding-left: 20px;
				}
				.services-block-list-item{

				}