*{
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #484848;
	box-sizing: border-box;
}
a{
	cursor: pointer;
}
title{
	display: none;
}
.page-header{

}
	.top-nav-menu{
		padding: 10px 0;
		background: #fff;
	}
		.top-nav-menu-container{
			width: 960px;
			padding-left: 30px;
			padding-right: 30px;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
		}
			.top-nav-menu-logo{
				float: left;
			}
				.company-title{
					font-size: 30px;
					font-weight: 200;
					color: #333;
					line-height: 40px;
				}
					
			.top-nav-menu-links{
				float: right;
			}
				.top-nav-menu-link{
					margin-right: 20px;
					float: left;
					line-height: 40px;
				}
				.top-nav-menu-link:nth-last-child(1){
					margin-right: 0;
				}
	.header-banner{
		position: relative;
	}
		.banner{
			width: 100%;
			height: auto;
		}
		.banner-panel{
			border-radius: 4px;
			position: absolute;
			background: #fff;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
			bottom: 25%;
			height: 50%;
			left: 30%;
			right: 30%;
			
		}
.page-content{

}
	.company-about-block{
		padding: 40px;
	}
		.about-block-header{
			text-align: center;
			font-size: 26px;
			font-weight: 200;
			margin-bottom: 50px;
		}
		.about-block-body{
			width: 65%;
			margin: 0 auto;
		}
			.history-block-text{
				font-size: 15px;
				font-weight: 200;
				margin-bottom: 20px
			}
	.buildings-block{
		margin-top: 40px;
	}
		.buildings-block-items{
		
		}
			.buildings-block-item{
				margin-right: 60px;
				width: calc((100% - 120px) / 3);
				float: left;
			}
			.buildings-block-item:nth-last-child(1){
				margin-right: 0;
			}
			.bg-buildings-block-item{
				height: 200px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
				.bg-buildings-block-item-hover{
					position: relative;
					height: 100%;
					background-color: rgba(0,0,0, 0.4);
				}
					.bg-buildings-block-item-header{
						position: absolute;
						height: 50px;
						bottom: 0;
						left: 0;
						width: 100%;
						background-color: rgba(0,0,0,0.7);
					}
						.bg-buildings-block-item-header__title{
							font-size: 16px;
							font-weight: 700;
							color: #fff;
							padding-left: 20px;
							line-height: 50px;
						}
			.text-buildings-block-item{
				background: #fff;
				padding: 30px;
			}
				.text-buildings-block-item__header{
					color: #484848;
					font-weight: 700;
					font-size: 16px;
					margin-bottom: 20px;
				}
				.text-buildings-block-item__body{
					font-weight: 200;
					font-size: 14px
				}
			.royal{
				background-image: url(../img/royaltulip.jpg);
			}
			.grandballroom{
				background-image: url(../img/grandballroom.jpg);
			}
			.stoletovo{
				background-image: url(../img/stoletovo.jpg);
			}
.page-footer{
	
}
