.page-container{
	width: 1000px;
	margin: 0 auto;
}
	.page-title{

	}
	.query-form-block{

	}
		.query-form-title{
			font-size: 24px;
		}
		.query-form{
			width: 500px;
			margin: 0 auto;
		}
			.query-form-field{

			}
.results-block{

}
