.page-container{
	width: 1000px;
	margin: 0 auto;
}
.results-block{
margin-top: 80px;
}
	.results-form-block{

	}
		.results-form-title{
			font-size: 24px;
			font-weight: 300;
			text-align: center;
		}
		.results-form{
			width: 400px;
			margin: 0 auto;
		}
			.results-field{
				margin-top: 20px;
			}
			.results-field:first-child{
				margin-top: 40px;
			}
			.results-field-input{
				width: 70%;
				border: 1px solid #e0e0e0;
				border-radius: 4px;
				height: 24px;
				padding-left: 10px;
				display: block;
				float: left;
				height: 34px;
			}
			.field-label{
				display: block;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.5em;
			}
				.edit-button{
					color: #4fa2f3;
					font-weight: 300;
					font-size: 14px;
					float: right;
					height: 34px;
					line-height: 34px;
					cursor: pointer;
				}
				.save-button{
					color: #45bf38;
				}
				.save-button:hover{
					color: #a2f999;
				}
				.cancel-button{
					color: red;
				}
				.edit-button:hover{
					color: #9fcfff;
				}
				.returned-message{

				}
