.home-page-container{
	width: 1170px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}
@media screen and (min-width: 1200px){
	.home-page-container{
		width: 1170px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.home-page-container{
		width: 970px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.home-page-container{
		width: 750px;
	}
}


/*SLIDER-BLOCK*/
.slider-block{
width: 100%;
height: 400px;
position: relative;
}
.slide{
position: absolute;
width: 100%;
height:100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
transition: opacity 2.5s ease;
}
.slide-about{
position: absolute;
top: 40%;
left: 200px;
padding: 10px;
}
.slide-about-heading{
font-weight: 700;
font-size: 40px;
color: #fff;
}
.slide-about-text{
margin-top: 10px;
font-size: 20px;
font-weight: 200;
color: #fff;
}
.more-button{
font-size: 14px;
background: #d64242;
background-image: linear-gradient(to left top, rgba(243, 122, 101, 0) 0, #f37a65);
border-radius: 3px;
padding: 5px 10px;
color: #fff;
display: inline-block;
margin-top: 10px;
cursor: pointer;
}
.slide-building-materials{
background-image: url(../img/стройматериалы.jpg);
opacity: 1;
}
.slide-bath{
background-image: url(../img/bath.jpg);
color: #333;
opacity: 0;
}
.slide-about-heading--bath{
color: #333;
}
.slide-about-text--bath{
font-size: 20px;
margin-top: 10px;
font-weight: 200;
color: #333;
}
.slide-tools{
background-image: url(../img/instruments.jpg);
opacity: 0;
}
/*SLIDER-BLOCK*/



/*SERVICE BLOCK*/
.services-block{
padding: 40px;
padding-bottom: 60px;
}
.services-header{
padding-bottom: 20px;
}
.services-header__name{
font-size: 25px;
color: #333;
font-size: 700;
}
.services-body{
margin-top: 10px;
}
.services-body-item{
float: left;
width: calc((100% - 80px) / 3);
height: 100%;
}
.services-body-item:hover{
background: #f2f3f7;
}
.services-body-item__img{
float: left;
display: block;
width: 30px;
height: 30px;
}
.services-body-item-about{
display: inline-block;
margin-left: 10px;
width: calc(100% - 40px);
}
.services-body-item-about__heading{
line-height: 30px;
font-size: 16px;
font-weight: 700;
}
.services-body-item-about__text{
font-size: 14px;
color: #666666;
}
/*SERVICE BLOCK*/




/*BRANDS BLOCK*/
.brands-block{
	height: 160px;
}
.brands-items{
	height: 100%;
}
	.brand-item{
		float: left;
		height: 100%;
		width: calc(100% / 5);
		border-right: 1px solid #e6e7eb;
	}
	.brand-item:hover{
		background: #f2f3f7;
	}
	.brand-item:nth-last-child(1){
		border-right: none;
	}
		.brand-logo-img{
			width: 60%;
			display: block;
			margin: 0 auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
/*BRANDS BLOCK*/


.popular-categories{
	border: 1px solid #ccc;
	padding: 20px;
}
.category-block{
	margin-top: 70px;
}
.category-header{

}
.line-header{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
	.category-header-title{
		font-size: 20px;
		font-weight: 500;
		color: #777777;
	}
.category-body{
	margin-top: 10px;
}
	.category-row-items{

	}
	.category-row-item{
		float: left;
		display: block;
		position: relative;
	}
	.item-6{
		width: calc((100% - 75px) / 6);
		margin-right: 15px;
		cursor: pointer;
	}
	.item-6:nth-last-child(1){
		margin-right: 0;
	}
	.item-6:hover .category-item-hover-block{
		height: 25%;
	}
	.item-6:hover .category-item-hover-block-text{
		display: block;
	}
	.item-4{
		width: calc((100% - 60px) / 4);
		margin-right: 20px;
	}
	.item-3{
		width: calc((100% - 20px) / 2);
		margin-right: 20px;
	}
	.item-3:nth-last-child(1){
		margin-right: 0;
	}
	.item-4:nth-last-child(1){
		margin-right: 0;
	}
		.category-content-title-heading{
			font-size: 16px;
			color: #666666;
			font-weight: 400;
		}
		.category-img{
			display: block;
			width: 100%;
			height: auto;
		}
		.category-item-hover-block{
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			right: 0;
			height: 0;
			background: rgba(0, 0, 0, 0.9);
			transition: height .2s ease;
			font-size: 12px;
			color: #fff;
			font-weight: 300;
			padding-left: 15px;
		}
		.category-content-title{
			margin-top: 10px;
		}
			.category-item-hover-block-text{
				display: none;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
.popular-categories{

}


.wide-paint-block{
	margin-bottom: 20px;
}
