*{
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
title{
	display: none;
}
.hover-block{
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.current-photo{
	background: red;
	position: relative;
	width: 1000px;
	height: 533px;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}
.plan-container{
width: 800px;
margin: 0 auto;
}
.plan-main{

}
