*{
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
html{
	min-height: 100vh;
}
body{
	min-height: 100%;
}
title{
	display: none;
}
.clearfix:after{
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.hover-block{
	display: none;
	background: rgba(0, 0, 0, .9);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.current-photo-block{
	position: relative;
	width: 800px;
	height: 533px;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}
	.current-img{
	 width: 100%;
	 height: auto;
	}

	.current-sm{
		position: absolute;
		left: 20px;
		top: 20px;
		font-size: 20px;
		color: #f77c7c;
		font-weight: 400;
		font-style: italic;
	}
	.current-link{
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		text-decoration: none;
		color: #fff;
		padding: 7px 8px;
		font-size: 14px;
		font-weight: 300;
		background: #d64242;
		background-image: -webkit-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
		background-image: -o-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
		background-image: linear-gradient(to top left, rgba(243, 122, 101, 0) 0%, #f37a65);
	}
	.current-link:hover{
		background: #f77c7c;
	}
	.close-button{
		background: #fff;
		position: absolute;
		right: 0;
		transform: translateX(50%);
		top: 40px;
		padding: 7px 8px;
		font-size: 14px;
		font-weight: 300;
		color: #f77c7c;
		cursor: pointer;
	}
.page-header{
	margin-top: 20px;
}
	.page-header-container{
		width: 900px;
		height: 40px;
		margin: 0 auto;
	}
		.logo-block{
			float: left;
		}
			.home-link{
				
			}
				.home-link-img{
					height: 40px;
					width: auto;
				}
		.links-block{
			float: right;
		}
			.lint-item{
				font-size: 14px;
				font-weight: 300;
				color: #666;
				margin-right: 25px;
				line-height: 40px;
				float: left;
				text-decoration: none;
				cursor: pointer;
			}
			.link-item:hover{
				color: #ccc;
			}
			.lint-item:nth-last-child(1){
				margin-right: 0;
			}

.plan-container{
width: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
.plan-main{

}
