.content-wrapper{
	background: #fff;
}
.plan-container{
	width: 1020px;
	margin: 0 auto;
	padding-top: 50px;
}
.floor-plan-header{

}
	.salamat-title{
		color: #f77c7c;
		font-size: 35px;
		font-weight: 200;
		text-align: center;
	}
	.floor-title{
		color: #484848;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
	}
.plan-wrapper{
	margin-top: 40px;
}
.plan-controller{
	float: left;
	margin-right: 20px;
	width: 200px;
}
	.floor-selection-block{
		padding: 20px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
	}
		.floor-selection-header{

		}
			.selet-floor-title{
				font-weight: 400;
				color: #484848;
			}
		.floor-selection-content{
			margin-top: 10px;
			width: 60%;
		}
			.tc-selection{

			}
				.tc-item{
					position: relative;
					color: #f77c7c;
					font-weight: 400;
					cursor: pointer;
					margin-top: 10px;
				}
				.tc-item:hover .floor-selection{
					display: block;
				}
				.tc-item:hover .fa{
					transform: rotate(-90deg);
				}
					.floor-arrow{
						margin-left: 5px;
						transition: transform .15s ease;
					}
					.floor-selection{
						z-index: 1000 !important;
						background: #fff;
						display: none;
						position: absolute;
						left: 100%;
						top: 0;
						width: 100%;
						border: 1px solid #e0e0e0;
						border-radius: 3px;
					}
						.floor-item{
							margin-top: 10px;
							padding-left: 10px;
						}
						.floor-item:nth-child(1){
							margin-top: 0;
						}
						.floor-item:hover{
							background: #f9f9f9;
						}
							.floor-item-link{
								cursor: pointer;
								border-radius: 3px;
								font-weight: 200;
								color: #666666;
							}
							.floor-item-link{

							}
	.floor-labels-block{
		margin-top: 20px;
		border: 1px solid #e0e0e0;
		padding: 20px;
		border-radius: 4px;
	}
		.floor-labels-header{

		}
			.floor-labels-header-title{

			}
				.item-label{
					margin-top: 15px;
				}
				.boutiques-label{
				
				}
					.label-rect{
						height: 20px;
						float: left;
						width: 30%;
						clear: right;
					}
					.boutiques-rect{
						background: transparent;
						border: 1px solid #FF7F66;
					}
					.stairs-rect{
						background: #B2DBF7;
					}
					.elevator-rect{
						background: #FAB4FC;
					}
					.wc-rect{
						background: #FFFBB3;
					}
					.utility-rect{
						background: #CDF9E0;
					}
					.label-item-span{
						line-height: 20px;
						margin-left: 15px;
					}
.floor{
	width: 800px;
	float: left;
}
.tooltip-block{
	z-index: 1000 !important;
	display: none;
	position: absolute;
	height: 150px;
	background: #fff;
	border: 1px solid #e0e0e0;
	color: #666666;
	padding: 20px;
	padding-bottom: 0;
}
	.tooltip-item{
		margin-top: 10px;
	}
	.tooltip-list-item-floor{

	}
	.tooltip-list-item-boutique{

	}
	.tooltip-button{
		color: #fff;
		border-radius: 2px;
		cursor: pointer;
		text-align: center;
		padding: 7px 8px;
		background: #d64242;
		background-image: -webkit-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
	}
.tooltip-block-active{
	display: block;
	margin-top: -150px;
}
