.content-wrapper{
	background: #fff;
}
.plan-container{
	width: 1020px;
	margin: 0 auto;
}
.floor-plan-header{
margin-top: 40px;
}
	.salamat-title{
		color: #d2583d;
		font-size: 35px;
		font-weight: 700;
		text-align: center;
	}
	.floor-title{
		color: #666666;
		font-size: 20px;
		font-weight: 200;
		text-align: center;
	}
.plan-wrapper{
	margin-top: 40px;
}
.plan-controller{
	float: left;
	margin-right: 20px;
	width: 200px;
}
	.floor-selection-block{
		padding: 20px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
	}
		.floor-selection-header{

		}
			.selet-floor-title{
				font-weight: 200;
				color: #484848;
			}
		.floor-selection-content{

		}
			.tc-selection{

			}
				.tc-item{
					color: #f77c7c;
					font-weight: 200;
				}
					.floor-selection{
						padding-left: 20px;
					}
						.floor-item{
							padding: 5px 0;
						}
							.floor-item-span{
								cursor: pointer;
								border-radius: 3px;
								padding: 2px 5px;
								font-weight: 200;
								color: #666666;
							}
							.floor-item-span:hover{
								background: #f9f9f9;
							}

.floor{
	width: 800px;
	float: left;
}
.tooltip-block{
	z-index: 1000 !important;
	display: none;
	position: absolute;
	height: 150px;
	background: #fff;
	border: 1px solid #e0e0e0;
	color: #666666;
	padding: 20px;
	padding-bottom: 0;
}
	.tooltip-item{
		margin-top: 10px;
	}
	.tooltip-list-item-floor{

	}
	.tooltip-list-item-boutique{

	}
	.tooltip-button{
		color: #fff;
		border-radius: 2px;
		cursor: pointer;
		text-align: center;
		padding: 7px 8px;
		background: #d64242;
		background-image: -webkit-linear-gradient(bottom right, rgba(243, 122, 101, 0) 0%, #f37a65);
	}
.tooltip-block-active{
	display: block;
	margin-top: -150px;
}
