.rent-page-content{
padding: 50px 0;
background: #fff;
min-height: 100%;
}
	.rent-page-container{
		width: 950px;
		margin: 0 auto;
		padding: 50px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	}

		.trade-area-imgs{

		}
			.trade-area-header{
				padding-bottom: 15px;
				border-bottom: 1px solid #e0e0e0;
			}
				.trade-area-title{
					font-size: 25px;
					color: #484848;
					font-weight: 200;
				}
			.trade-area-content{
				margin-top: 30px;
			}
				.trade-area-items{

				}
					.trade-area-item{
						float: left;
						margin-right: 20px;
						width: calc((100% - 80px) / 5);
					}
					.trade-area-item:nth-last-child(1){
						margin: 0;
					}
						.trade-area-img-item{
							width: 100%;
							height: auto;
						}
		.for-rent-block{
			margin: 0 auto;
			margin-top: 40px;
		}
			.for-rent-header{

			}
				.for-rent-title{
					font-size: 25px;
					color: #484848;
					font-weight: 200;
				}
			.for-rent-content{
				margin-top: 20px 0;
				padding: 25px;
				border: 1px solid #e0e0e0;
				border-radius: 4px;
			}
				.for-rent-list{

				}
					.rent-list{
						padding: 10px 20px;
						border-radius: 4px;
					}
					.rent-list:hover{
						background: #f9f9f9;
					}
					.rent-list:nth-child(1){
						margin-top: 0;
					}
						.rent-list-item{
							float: left;
							min-width: 100px;
							color: #484848;
							font-weight: 200;
						}
						.rent-list-value{
							padding-left: 15px;
							width: auto;
							color: #666666;
							font-weight: 200;
						}
						.map-link{
							cursor: pointer;
							color: #4da2d8;
							float: right;
							font-weight: 200;
						}